<div class="header__menu-main">
    <ul class="header__menu-list">
        <li class="header__menu-close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">

            <g>
                <g>
                    <path
                            d="M.686 21.9l9.9-9.9-9.9-9.9L2.101.687l9.899 9.9 9.9-9.9 1.414 1.415-9.9 9.899 9.9 9.9-1.415 1.414-9.899-9.9-9.9 9.9z"/>
                </g>
            </g>
        </svg></li>
        <li class="header__menu-item header__menu-item--first">
            <a href="" class="header__menu-link">
                FAQ
            </a>
        </li>
        <li class="header__menu-item">
            <a href="" class="header__menu-link">
                General Conditions
            </a>
        </li>
        <li class="header__menu-item">
            <a href="" class="header__menu-link">
                Data protection policy
            </a>
        </li>
        <li class="header__menu-item">
            <a href="" class="header__menu-link">
                Cookie policy
            </a>
        </li>
        <li class="header__menu-item header__menu-item--last">
            <a href="" class="header__menu-link ">
                Contacts
            </a>
        </li>
        <li class="header__menu-social">
            <a href="" class="header__social-link">
                <img src="img/fb-ico.svg" alt="facebook">
            </a>
            <a href="" class="footer__social-link">
                <img src="img/tw-ico.svg" alt="twitter">
            </a>
            <a href="" class="footer__social-link">
                <img src="img/vk-ico.svg" alt="vk">
            </a>
            <a href="" class="footer__social-link">
                <img src="img/in-ico.svg" alt="instagramm">
            </a>
        </li>
    </ul>

</div>

<header class="header">
    <div class="wrapper">
        <div class="header__content">
            <img src="img/logo.png" alt="logo" class="headaer__logo">
            <div class="header__menu">
                <span class="header__menu-text">
                    меню
                </span>
                <div class="header__menu-burger">
                    <span class="header__menu-line"></span>
                    <span class="header__menu-line header__menu-line--middle"></span>
                    <span class="header__menu-line"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="header__menu-overlay"></div>
