<div class="diet-modals" style="display: none">
  <div class="diet-modals__overlay">
    <div class="diet-modals__item modal-guide" style="display: none">
      <div class="diet-modals__top">
        <div class="diet-modals__target decorate-target">
          <div class="half">
            <div class="center">!</div>
          </div>
        </div>
        <h2 class="diet-modals__title">Your meal plan guide</h2>
        <button type="button" class="diet-modals__close"></button>
      </div>
      <div class="diet-modals__text">
        <h3>Your plan</h3>
        <p>This is your fat-rich, low-carb eating plan. This plan is distinctive for its exceptionally high-fat content, typically 70% to 80%. We suggest following this plan until the desired amount of weight is lost.</p>
        <h3>How it works?</h3>
        <p>This is a diet that causes ketones to be produced by the liver, shifting the body's metabolism away from glucose and towards fat utilization. when you eat food high in carbs, your body produces glucose and insulin. While glucose is used as the main source of energy, insulin secretion is produced to down regulate your glucose levels in the blood stream. Insulin is also responsible for storing fat in our body and if your body produces too much of it, you put on weight.</p>
        <strong>Feel free to improvise with recipes in case you do not have some ingredients, but please be aware of what foods are good substitutes.</strong>
        <h3>Useful foods:</h3>
        <ul>
          <li>Meats (preferably grass-fed, organic and pasture raised) including beef, pork, lamb, bison and chicken</li>
          <li>Salmon and other fish – preferably wild-caught</li>
          <li>Eggs</li>
          <li>Fruits</li>
          <li>Vegetables</li>
          <li>Nuts</li>
          <li>Greek yogurt and whole, plain yogurt</li>
          <li>Butter and ghee (grass-fed, if possible)</li>
          <li>Coconut, olive and flax oils</li>
          <li>Avocado</li>
          <li>Sweet potatoes</li>
          <li>Dark chocolate – that contains a minimum of 70% cocoa (1 ounce)</li>
          <li>Beverages include coffee, tea or water</li>
        </ul>
        <h3>Try to avoid these:</h3>
        <ul>
          <li>Soft drinks/sodas</li>
          <li>Commercial baked goods (cakes, cookies, etc)</li>
          <li>Ice cream</li>
          <li>Candy</li>
          <li>Fruit juices</li>
          <li>Breads and pasta</li>
          <li>Any Processed Food with Trans Fats – hydrogenated or partially hydrogenated oils</li>
          <li>All vegetable oils (canola, soy, grapeseed, corn, safflower)</li>
          <li>Artificial sweeteners</li>
          <li>“Low-Fat” or “Diet” foods</li>
        </ul>
        <p>If you decide to substitute the ingredient in the recipe, please try to substitute it with the ingredient that has similar nutrition values.</p>
      </div>
    </div>
    <div class="diet-modals__item modal-shopping" style="display: none">
      <div class="diet-modals__top">
        <div class="diet-modals__target decorate-target">
          <div class="half">
            <div class="center center--shopping"></div>
          </div>
        </div>
        <div class="diet-modals__weeks-controls">
          <h2 class="diet-modals__title">Week <span class="counter">1</span></h2>
          <button type="button" class="diet-modals__weeks-control prev"></button>
          <button type="button" class="diet-modals__weeks-control next"></button>
        </div>
        <button type="button" class="diet-modals__close"></button>
      </div>
      <div class="diet-modals__text">
        <h3>Shopping list</h3>
        <form class="diet-modals__form" onsubmit="return false;">
          <ul class="diet-modals__shopping-list">
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden" checked>
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Olive Oil - 7 teaspoon</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Parsley Raw - 1 tablespoon</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Kosher Salt - 12 pinch</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Asparagus - 1</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Chives - 1 tablespoon</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden" checked>
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Egg - 7</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Cod - 3 cod fillet</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Steak Seasoning - 1 tablespoon</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Green Beans - 2 cup</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Zucchini - 2</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Yellow Onions - 2 tablespoon</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Lime Juice Raw - 1 wedge yields</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Cauliflower Rice - 3 cup</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Butter - 1 tablespoon</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Smoked Paprika - 3 teaspoon</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Cumin Seed - 1 teaspoon</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Cilantro - 2.5 tablespoon</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Jalapeno Peppers - 1</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Carrots - 1.5 tablespoon</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Cayenne Pepper - 1 dash</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Vegetable Oil - 1 tablespoon(s)</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Spices Paprika - 2 teaspoon(s)</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Spices Garlic Powder - 1 teaspoon(s)</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Black Pepper - 2 teaspoon(s)</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Salt - 1 pinch(es)</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Grated parmesan cheese - 3 cup(s)</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Catfish, boneless, raw (yield after cooking) - 110 g.</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Avocado, yields - 50 g.</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Tabasco Sauce - 1 tablespoon(s)</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Salt - 1 pinch(es)</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Lemon Juice Raw - 1 tablespoon(s)</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Dill Weed Fresh, sprigs - 1 cup(s)</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Lemon Peel Raw - 1 teaspoon(s)</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Brussels Sprouts, Raw - 4 unit</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Extra Virgin Olive Oil - 1 tablespoon(s)</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Romaine Lettuce - 1 cup</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Lemon Juice, Fresh - 1 tablespoon(s)</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Sunflower Seeds - 2 teaspoon(s)</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Macadamia Nuts - 30 g.</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Garlic Raw - 1 cloves</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Chiles Habanero - 3</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Garlic Powder - 1 teaspoon(s)</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Lox - 10 g.</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Mini Sweet Peppers - 10 g.</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Crab, Canned, Drained - 30 g.</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Crustaceans Shrimp Mixed Species Raw - 2 large</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Onion Powder - 2 pinch</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Salt - 1 teaspoon(s)</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Crushed Red Pepper - 1 pinch</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Cauliflower Rice, cut pieces - 3 cup(s)</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Capers - 10 g.</span>
              </label>
            </li>
            <li class="diet-modals__shopping-item">
              <label class="diet-modals__shopping-label">
                <input type="checkbox" class="diet-modals__checkbox visually-hidden">
                <span class="diet-modals__check"></span>
                <span class="diet-modals__shopping-description">Dill Weed Fresh - 1 tablespoon(s)</span>
              </label>
            </li>
          </ul>
          <button type="submit" class="diet-modals__button common-button common-button--border common-button--popup">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="25" viewBox="0 0 19 25">
              <path d="M9 10l-3 3-2-1H3l2 2a1 1 0 0 0 1 0l3-3zm0 6l-3 3-2-1-1 1 2 1a1 1 0 0 0 1 0l3-3zm7-5h-4v1h4zm2-7h-4V3 2h-2l-2-2-2 2H6L5 3v1H2L0 5v18a2 2 0 0 0 2 2h15a2 2 0 0 0 2-2V5l-1-2zM6 3h2a1 1 0 0 0 1-1 1 1 0 0 1 1 0 1 1 0 0 0 1 1h2v2H6V3zm12 21H1V5h4v1h9V5h4v19zm-2-7h-4v1h4z" fill-rule="evenodd"/>
            </svg>
            скачать список продуктов
          </button>
          <p class="diet-modals__note">This plan was prepared for <span class="current-email">mult.tiutyk@gmail.com</span></p>
        </form>
      </div>
    </div>
  </div>
</div>