<footer class="footer">
    <div class="wrapper">
        <div class="footer__content">
            <p class="footer__name">
                © Brand Name 2019
            </p>
            <img src="img/logo.png" alt="logo" class="footer__logo">
            <ul class="footer__social">
                <li class="footer__social-item">
                    <a href="" class="footer__social-link">
                        <img src="img/fb-ico.svg" alt="facebook">
                    </a>
                </li>
                <li class="footer__social-item">
                    <a href="" class="footer__social-link">
                        <img src="img/tw-ico.svg" alt="twitter">
                    </a>
                </li>
                <li class="footer__social-item">
                    <a href="" class="footer__social-link">
                        <img src="img/vk-ico.svg" alt="vk">
                    </a>
                </li>
                <li class="footer__social-item">
                    <a href="" class="footer__social-link">
                        <img src="img/in-ico.svg" alt="instagramm">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>