.recept {
  position: relative;
  height: 2000px;
  &::before {
    content: '';
    width: 1px;
    height: 500px;
    background-image: repeating-linear-gradient(to bottom,
            #545e6a,
            #545e6a 5px,
            transparent 5px,
            transparent 10px);
    position: absolute;
    top: 0;
    right: -10px;
  }

  &__top {
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
    margin-right: auto;
    margin-left: auto;
    top: -60px;
    margin-bottom: -26px;
    &-circle {
      border-radius: 50%;
      background-image: linear-gradient(to right,$grad-start,$grad-end);
      &--1 {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0.15;
      }
      &--2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        opacity: 0.15;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
      }
      &--3 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__content {
    border-radius: 5px;
    margin-top: 183px;
    background-color: transparentize(#2e3844, 0.4);
    padding-left: 100px;
    padding-right: 100px;
  }
  &__des {
    text-align: center;
    opacity: 0.5;
    color: #ffffff;
    font-size: 20px;
    font-style: italic;
    line-height: 20px;
  }
  &__nav {
    margin-top: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__back {
    width: 54px;
    height: 54px;
    background-color: #545e6a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      opacity: 0.4;
    }
  }
  &__title {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
  }
  &__cal {
    text-align: right;
    opacity: 0.7;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }
  &__video {
    font-size: 0;
    line-height: 0;
    position: relative;
    margin-top: 50px;
    & img {
      border-radius: 5px;
    }
    &-play {
      position: absolute;
      background-image: linear-gradient(to right,$grad-start,$grad-end);
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      width: 70px;
      height: 70px;
      transform: translate(-50%, -50%);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      & img {
        margin-left: 28px;
        border-radius: 0px;
      }
    }
  }
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 60px;
    &-title {
      color: #ffffff;
      font-family: Montserrat;
      font-size: 35px;
      font-weight: 500;
      line-height: 45px;
    }
  }

  &__products {
    flex-shrink: 0;
    margin-right: 70px;
    width: 430px;
    border-radius: 5px;
    background-color: #545e6a;
    padding-top: 30px;
    padding-bottom: 40px;

    &-title {
      padding-left: 29px;
    }

    &-list {
      margin-top: 25px;
      padding-left: 40px;
      padding-right: 40px;
    }

    &-item {
      font-size: 18px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #737d87;
      padding-bottom: 22px;
      margin-bottom: 19px;
      &:last-child {
        margin-bottom: 0;
        border: none;
        padding-bottom: 0;
      }
    }
    &-num {
      margin-right: 15px;
    }
    &-cal {
      font-weight: 300;
      opacity: 0.7;
    }
    &-btn {
      cursor: pointer;
      margin-top: 27px;
      display: block;
      background-image: linear-gradient(to right,$grad-start,$grad-end);
      padding: 2px;
      width: 350px;
      border-radius: 32px;
      margin-right: auto;
      margin-left: auto;

      &_inner {
        border-radius: 32px;
        font-size: 20px;
        color: #fff;
        padding-top: 11px;
        padding-bottom: 13px;
        padding-left: 32px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        background-color: #545e6a;
        & img {
          margin-right: 14px;
        }
      }
    }
  }

  &__step {
    width: 470px;
  }
}