<section class="wrapper recept">
    <div class="recept__content">
        <div class="recept__top">
            <img src="img/cook.svg" alt="hat" class="recept__top-img">
        </div>
        <h3 class="recent__des">
            Lunch
        </h3>
        <div class="recept__nav">
            <a href="" class="recept__back">
                <img src="img/back__arrow.svg" alt="back">
            </a>
            <h2 class="recept__title">
                Pork chops With Nut Crust
            </h2>
            <h3 class="recept__cal">
                312 kcal <br>
                30min
            </h3>
        </div>
        <div class="recept__video">
            <img src="img/recept__video.jpg" alt="video">
        </div>
        <div class="recept__list">
            <div class="recept__products">

            </div>
            <div class="recept__step">

            </div>
        </div>
    </div>
</section>