<section class="wrapper recept">
    <div class="recept__content">
        <div class="recept__top">
            <div class="recept__top-circle recept__top-circle--1"></div>
            <div class="recept__top-circle recept__top-circle--2"></div>
            <div class="recept__top-circle recept__top-circle--3">
                <img src="img/cook.svg" alt="hat" class="recept__top-img">
            </div>
        </div>
        <h3 class="recept__des">
            Lunch
        </h3>
        <div class="recept__nav">
            <a href="" class="recept__back">
                <img src="img/back__arrow.svg" alt="back">
            </a>
            <h2 class="recept__title">
                Pork chops With Nut Crust
            </h2>
            <h3 class="recept__cal">
                312 kcal<br>
                30min
            </h3>
        </div>
        <div class="recept__video">
            <img src="img/recept__video.jpg" alt="video">
            <div class="recept__video-play">
                <img class="recept__video-img" src="img/video__play.png" alt="play">
            </div>
        </div>
        <div class="recept__list">
            <div class="recept__products">
                <h3 class="recept__list-title recept__products-title">
                    Products
                </h3>
                <ul class="recept__products-list">
                    <li class="recept__products-item">
                        <div class="recept__products-wrap">
                            <span class="recept__products-num">1)</span>
                            <span class="recept__products-text">egg</span>
                        </div>
                        <span class="recept__products-cal">1 ½</span>
                    </li>
                    <li class="recept__products-item">
                        <div class="recept__products-wrap">
                            <span class="recept__products-num">2)</span>
                            <span class="recept__products-text">walnuts</span>
                        </div>
                        <span class="recept__products-cal">3 tbsp</span>
                    </li>
                    <li class="recept__products-item">
                        <div class="recept__products-wrap">
                            <span class="recept__products-num">3)</span>
                            <span class="recept__products-text">center-cut pork chops</span>
                        </div>
                        <span class="recept__products-cal">200 g </span>
                    </li>
                    <li class="recept__products-item">
                        <div class="recept__products-wrap">
                            <span class="recept__products-num">4)</span>
                            <span class="recept__products-text">parmesan cheese</span>
                        </div>
                        <span class="recept__products-cal">4 ½ tbsp</span>
                    </li>
                    <li class="recept__products-item">
                        <div class="recept__products-wrap">
                            <span class="recept__products-num">5)</span>
                            <span class="recept__products-text">black pepper</span>
                        </div>
                        <span class="recept__products-cal">2 pinch </span>
                    </li>
                    <li class="recept__products-item">
                        <div class="recept__products-wrap">
                            <span class="recept__products-num">6)</span>
                            <span class="recept__products-text">salt</span>
                        </div>
                        <span class="recept__products-cal">2 pinch </span>
                    </li>
                </ul>
                <div class="recept__products-btn">
                    <span class="recept__products-btn_inner">
                        <img src="img/check__list.svg" alt="list"> <span>скачать список продуктов</span>
                    </span>
                </div>
            </div>
            <div class="recept__step">
                <h3 class="recept__list-title recept__step-title">
                    Preparations
                </h3>
                <div class="recept__step-item recept__step-item--1">
                    <div class="recept__step-num">
                        1
                    </div>
                    <div class="recept__step-cont">
                        <img src="img/recept__step-1.jpg" alt="step" class="recept__step-img">
                        <p class="recept__step-text">
                            Preheat the oven to 400°F/200°C and line a baking dish with parchment paper. Shred the
                            parmesan cheese and chop the walnuts. In a small bowl, mix together the shredded Parmesan
                            cheese, walnuts, salt and black pepper.
                        </p>
                    </div>
                </div>
                <div class="recept__step-item recept__step-item--2">
                    <div class="recept__step-num">
                        2
                    </div>
                    <div class="recept__step-cont">
                        <p class="recept__step-text">
                            In another small bowl or deeper plate, crack <br>
                            the egg.
                        </p>
                    </div>
                </div>
                <div class="recept__step-item recept__step-item--3">
                    <div class="recept__step-num">
                        3
                    </div>
                    <div class="recept__step-cont">
                        <p class="recept__step-text">
                            Lightly beat the egg.
                        </p>
                    </div>
                </div>
                <div class="recept__step-item recept__step-item--4">
                    <div class="recept__step-num">
                        4
                    </div>
                    <div class="recept__step-cont">
                        <img src="img/recept__step-2.jpg" alt="step" class="recept__step-img">
                        <p class="recept__step-text">
                            Dip the pork chop in the egg.
                        </p>
                    </div>
                </div>
                <div class="recept__step-item recept__step-item--5">
                    <div class="recept__step-num">
                        5
                    </div>
                    <div class="recept__step-cont">
                        <img src="img/recept__step-3.jpg" alt="step" class="recept__step-img">
                        <p class="recept__step-text">
                            Immediately after that, dip it in the walnut-parmesan mixture.
                        </p>
                    </div>
                </div>
                <div class="recept__step-item recept__step-item--6">
                    <div class="recept__step-num">
                        6
                    </div>
                    <div class="recept__step-cont">
                        <p class="recept__step-text">
                            Place chops on the baking sheet and bake in the preheated oven for 20-30 minutes or until
                            the crust becomes golden and crispy. Serve and enjoy!
                        </p>
                    </div>
                </div>
                <div class="recept__step-item recept__step-item--7">
                    <div class="recept__step-num">
                        7
                    </div>
                    <div class="recept__step-cont">
                        <p class="recept__step-text">
                            Bake in the preheated oven for 20-30 minutes or until the crust becomes golden and crispy.
                            Serve and enjoy!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="recept__btn">
            Print recipe
        </div>
    </div>
</section>