.card-keto__body {
  & .picture {
    display: block;
    height: 210px;
    margin: 0 auto;
    padding-top: 28px;
  }

  & .value {
    font-size: 60px;
    line-height: 1;
    fill: white;
  }

  & .unit {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 20px;
    fill: #82888f;
  }
}

@include r(1070) {
  .card-keto__body {
    margin-bottom: 22px;
  }

  .card-keto__body .picture {
    max-width: 145px;
    padding-top: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  28% {
    opacity: 1;
  }

  33% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.animatable-element {
  opacity: 0;
  animation: 9s blink linear infinite;
}

.proteins {
  opacity: 0;
  animation-delay: 3s;
}

.fats {
  opacity: 0;
  animation-delay: 6s;
}