.contacts {
  background-image:
    url("../img/Fish-img.png"),
    url("../img/paper-img.png"),
    url("../img/brokoli-img.png"),
    url("../img/pattern.jpg");
  background-position:
    left calc(50% - 1040px) top -16px, // fish
    left calc(50% + 1005px) top -281px, // corn/peper
    left calc(50% + 940px) bottom -93px, // broccoli
    center top; // main background
  background-repeat: no-repeat, no-repeat, no-repeat, repeat;
  background-size: auto;
}

.contacts__content {
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}

.contacts__popup {
  margin: 183px auto 383px;
  padding: 81px 0 70px;
}

.contacts__target {
  & .center::after {
    content: "";
    display: block;
    margin: auto;
    width: 46px;
    height: 43px;
    background-image: url("../img/contacts-email-icon.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.contacts__body {
  max-width: 630px;
  margin: 0 auto;
}

.contacts__text {
  margin-bottom: 44px;
  text-align: center;
}

.contacts__title {
  margin-bottom: 14px;
}

.contacts__subtitle {
  max-width: 530px;
  margin: 0 auto;
}

.contacts__field {
  margin-bottom: 50px;
}

.contacts__buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  max-width: 520px;
  margin: 0 auto;
}

@include r(1230) {
  .contacts {
    background-position:
      left calc(50% - 820px) top -75px, // fish
      left calc(50% + 885px) top -280px, // corn/peper
      left calc(50% + 660px) bottom -75px, // broccoli
      center top; // main background
  }

  .contacts__popup {
    margin-top: 90px;
    margin-bottom: 150px;
  }
}

@include r(1070) {
  .contacts {
    background-image:
      url("../img/fish__mob.png"),
      url("../img/broccoli-mob.png"),
      url("../img/pattern.jpg");
    background-position:
      left calc(50% - 367px) top 229px, // fish
      left calc(50% + 364px) top 147px, // broccoli
      center top; // main background
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: auto;
  }
  
  .contacts .header {
    padding-top: 23px;
  }

  .contacts .header__logo {
    width: 107px;
    height: 18px;
  }

  .contacts__popup {
    margin-top: 62px;
    margin-bottom: 35px;
    padding-top: 46px;
    padding-bottom: 25px;
  }

  .contacts__target .center::after {
    width: 23px;
    height: 21px;
  }

  .contacts__body {
    max-width: 400px;
    padding: 0 15px;
  }

  .contacts__text {
    margin-bottom: 23px;
  }

  .contacts__title {
    margin-bottom: 5px;
  }

  .contacts__subtitle {
    font-size: 18px !important;
    line-height: (22 / 18) !important;
  }

  .contacts__subtitle br {
    display: none;
  }

  .contacts__field {
    margin-bottom: 0;
  }

  .contacts__buttons {
    flex-direction: column;
  }

  .contacts__button {
    margin: 20px auto 0;
  }
}

@include r(767) {
  .contacts {
    background-position:
    left -125px top 229px, // fish
    right -28px top 147px, // broccoli
    center top; // main background
  }
}