.diet {
  background-image:
    url("../img/lime-img.png"),
    url("../img/brokoli-img.png"),
    url("../img/paper-img.png"),
    url("../img/Fish-img.png"),
    url("../img/brokoli-img.png"),
    url("../img/lime-img.png"),
    url("../img/result-bg.jpg");
  background-position:
    left calc(50% - 147px) top -74px, // lime #top
    left calc(50% - 913px) top 87px, // broccoli #top
    left calc(50% + 1093px) top -281px, // corn/peper
    left calc(50% - 1146px) top calc(50% - 18px), // fish
    left calc(50% + 1019px) bottom 566px, // broccoli #bottom
    left calc(50% - 925px) bottom 24px, // lime #bottom
    center top; // main background
  background-repeat: no-repeat;
  background-size: auto, auto, auto, auto, auto, auto, cover;
  background-attachment: scroll, scroll, scroll, scroll, scroll, scroll;
}

.diet__content {
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}