<section class="diet__content">
  <div class="diet__wrapper wrapper">
    <div class="diet__top">
      <div class="diet__calendar">
        <!--=include ../calendar/calendar.html -->
      </div>
    </div>
    <div class="diet__resume">
      <h2 class="diet__title diet__title--resume">Резюме <br>вашего профиля</h2>
      <!--=include ../result-resume/result-resume.html -->
    </div>
    <div class="diet__recommendations">
      <!--=include ../diet-recommendations/diet-recommendations.html -->
    </div>
  </div>
</section>