.resume__title {
  position: relative;
  left: -1px;
  max-width: 370px;
  margin: 0 auto 58px;
  color: white;
  font-size: 40px;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: (45 / 40);
  text-align: center;

  &--get {
    margin-bottom: 53px;
  }
}

.resume__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 96px;
}