<section class="pay__content">
  <div class="pay__wrapper wrapper">
    <div class="pay__popup popup">
      <div class="pay__target popup__target decorate-target">
        <div class="half">
          <div class="center"></div>
        </div>
      </div>
      <div class="pay__body">
        <div class="pay__text">
          <h2 class="pay__title popup__title">Введите данные карты</h2>
          <p class="pay__subtitle popup__subtitle">Введите детали карты ниже</p>
        </div>
        <div class="pay__form">
          <!--=include ../pay-form/pay-form.html  -->
        </div>
        <p class="pay__note">
          <img src="img/secure-logo-01.png" alt="">
          <span class="site-name">ukr.yourketo.diet</span> использует <mark>безопасное соединение SSL</mark>
        </p>
      </div>
    </div>
  </div>
</section>