.get {
  background-image: url("../img/main-bg.jpg");
	background-position: center center;
	background-size: cover;
}

.get__content {
  position: relative;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}

.get__background-images img {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.get__background-images .fish {
  top: -209px;
  left: calc(50% - 1600px);
}

.get__background-images .peper {
  top: -474px;
  left: calc(50% + 584px);
}

.get__background-images .broccoli {
  bottom: -7px;
  left: calc(50% + 808px);
}

.get__popup {
  margin: 123px auto 42px;
  padding: 64px 0 70px;
}

.get__body {
  max-width: 830px;
  margin: 0 auto;
}

.get__text {
  margin-bottom: 35px;
  text-align: center;
}

.get__title {
  margin-bottom: 14px;
}

.get__rate {
  display: flex;
  align-items: center;
  height: 60px;
  margin-bottom: 32px;
  padding-left: 234px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #2e3844;

  & span {
    display: inline-block;
    margin-top: 1px;
    margin-left: 14px;
  }
}

.get__stars {
  display: flex;
}

.get__price {
  position: relative;
  margin-bottom: 33px;
}

.get__buttons {
  display: flex;
  justify-content: space-between;
}

.get__button {
  position: relative;
  width: 400px;
  height: 60px;
  padding-left: 53px;
  font-size: 18px;
  line-height: 60px;

  &::after {
    content: "";
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &--card::after {
    top: 30px;
    right: 50px;
    width: 36px;
    height: 23px;
    background-image: url("../img/icon-card.svg");
  }

  &--paypal::after {
    top: 30px;
    right: 55px;
    width: 22px;
    height: 24px;
    background-image: url("../img/icon-paypal.svg");
  }
}

.get__advantages {
  position: relative;
  z-index: 1;
  display: flex;
  max-width: 1030px;
  margin: 0 auto 36px;
  padding-bottom: 39px;
  padding-left: 4px;
  padding-right: 2px;
  font-size: 20px;
  line-height: (25 / 20);
  border-bottom: 1px solid #2e3844;
}

.get__advantage {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 65px;

  &:first-of-type {
    margin-right: 72px;
  }

  &:not(:first-of-type) {
    margin-left: auto;
    padding-left: 30px;
    border-left: 1px solid #414c59;
  }
}

.get__advantage-icon,
.male .get__advantage-icon {
  flex-shrink: 0;
  margin-right: 22px;
  fill: url("#man");
}

.female .get__advantage-icon {
  fill: url("#woman");
}

.get__secured {
  max-width: 1030px;
  margin: 0 auto 140px;
}

.get__pay {
  margin-bottom: 72px;
}

@include r(1230) {
  .get__background-images .fish {
    top: -209px;
    left: calc(50% - 1440px);
  }
  
  .get__background-images .peper {
    top: -474px;
    left: calc(50% + 484px);
  }
  
  .get__background-images .broccoli {
    bottom: -7px;
    left: calc(50% + 518px);
  }

  .get__buttons {
    padding: 0 30px;
  }

  .get__button {
    width: 355px;
  }
}

@include r(1070) {
  .get {
    background-image:
      url("../img/fish__mob.png"),
      url("../img/broccoli-mob.png"),
      url("../img/main-bg.jpg");
    background-position:
      left calc(50% - 278px) top 229px, // fish
      left calc(50% + 274px) top 147px, // broccoli
      center center; // main background
    background-size: 284px 306px, 97px 101px, cover;
  }

  .get .header {
    padding-top: 23px;
  }

  .get .header__logo {
    width: 107px;
    height: 18px;
  }

  .get__background-images {
    display: none;
  }

  .get__popup {
    margin-top: 42px;
    margin-bottom: 26px;
    padding: 28px 15px 30px;
  }

  .get__title {
    margin-bottom: 9px;
  }

  .get__text {
    margin-bottom: 20px;
  }

  .get__rate {
    display: block;
    height: 86px;
    margin-bottom: 16px;
    padding: 20px;
  }

  .get__rate .stars {
    margin-bottom: 13px;
  }

  .get__rate span {
    display: block;
    margin: 0;
    text-align: center;
  }

  .get__price {
    margin-bottom: 16px;
  }

  .get__buttons {
    display: block;
    padding: 0;
  }

  .get__button {
    width: 250px;
    margin: 0 auto;
    padding-left: 25px;
  }

  .get__button--card::after {
    right: 26px;
  }

  .get__button--paypal {
    padding-left: 13px;
  }

  .get__button--paypal::after {
    right: 13px;
  }

  .get__button + .get__button {
    margin-top: 15px;
  }

  .get__advantages {
    display: block;
    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 23px;
    padding: 0;
    padding-left: 25px;
    padding-bottom: 19px;
    font-size: 18px;
    line-height: 22px;
  }

  .get__advantage {
    position: relative;
    align-items: center;
    height: auto;
  }

  .get__advantage:not(:first-of-type) {
    margin: 0;
    margin-top: 15px;
    padding: 0;
    border: none;
  }

  .get__advantage br {
    display: none;
  }

  .get__advantage-icon {
    margin-right: 17px;
  }

  .get__pay {
    margin-bottom: 43px;
  }

  .get__secured {
    margin: 0 auto 35px;
  }
}

@include r(767) {

}

@include r(639) {
  .get {
    background-position:
      left calc(50% - 223px) top 229px, // fish
      left calc(50% + 220px) top 147px, // broccoli
      center center; // main background
  }

  .get__advantages {
    max-width: 440px;
    margin: 0 auto 23px;
    padding-left: 10px;
  }

  .get__advantage {
    align-items: flex-start;
  }

  .get__advantage:first-of-type {
    align-items: center;
    margin: 0;
  }

  .get__advantage:not(:first-of-type) {
    margin: 0;
    margin-top: 23px;
    padding: 0;
    border: none;
  }

  .get__secured {
    max-width: 280px;
  }
}

@include r(479) {
  .get {
    background-position:
      left calc(50% - 143px) top 229px, // fish
      left calc(50% + 140px) top 147px, // broccoli
      center center; // main background
  }

  .get__advantages {
    padding-left: 0;
  }

  .get__advantage {
    max-width: 250px;
  }
}