.subscribe {
  background-image:
    url("../img/Fish-img.png"),
    url("../img/paper-img.png"),
    url("../img/brokoli-img.png"),
    url("../img/main-bg.jpg");
  background-position:
    left calc(50% - 1040px) top -16px, // fish
    left calc(50% + 1005px) top -281px, // corn/peper
    left calc(50% + 940px) bottom -93px, // broccoli
    center top; // main background
  background-repeat: no-repeat;
  background-size: auto, auto, auto, cover;
  background-attachment: scroll, scroll, scroll;
}

.subscribe__content {
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}

.subscribe__popup {
  margin: 183px auto 324px;
  padding: 81px 0 50px;
}

.subscribe__target {
  position: absolute;
  top: -60px;
  left: 50%;
  width: 120px;
  height: 120px;
  transform: translateX(-50%);

  & .half {
    width: 99px;
    height: 99px;
  }

  & .center {
    position: relative;
    width: 83px;
    height: 83px;

    &::after {
      content: "";
      display: block;
      margin: auto;
      width: 49px;
      height: 42px;
      background-image: url("../img/subscribe-email-icon.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
}

.subscribe__body {
  max-width: 630px;
  margin: 0 auto;
}

.subscribe__text {
  margin-bottom: 44px;
  text-align: center;
}

.subscribe__title {
  margin-bottom: 14px;
}

.subscribe__field {
  margin-bottom: 31px;
}

.subscribe__agreement {
  margin-bottom: 43px;
  padding: 0 32px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: (26 / 18);
}

.subscribe__label {
  display: flex;
  cursor: pointer;
}

.subscribe__check {
  display: block;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #545e6a;
  border-radius: 4px;
}

.subscribe__checkbox:checked + .subscribe__check {
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
}

.subscribe__checkbox:checked + .subscribe__check,
.male .subscribe__checkbox:checked + .subscribe__check {
  background-image: 
    url("../img/check.png"),
    linear-gradient(
      to right, $boy-target-start, $boy-target-end
    );
}

.female .subscribe__checkbox:checked + .subscribe__check {
  background-image:
    url("../img/check.png"),
    linear-gradient(
      to right, $girl-target-start, $girl-target-end
    );
}

.subscribe__label-description {
  margin-top: 4px;
  margin-left: 21px;
}

.subscribe__agreement-link,
.male .subscribe__agreement-link {
  padding-left: 50px;
  color: #76e5c8;
}

.female .subscribe__agreement-link {
  color: #f55064;
}

.subscribe__agreement-link:hover,
.male .subscribe__agreement-link:hover {
  color: white;
  text-decoration: underline;
  text-decoration-color: #76e5c8;
}

.female .subscribe__agreement-link:hover {
  text-decoration-color: #f55064;
}

.subscribe__button {
  margin: 0 auto;
}

@include r(1230) {
  .subscribe {
    background-position:
      left calc(50% - 820px) top -75px, // fish
      left calc(50% + 885px) top -280px, // corn/peper
      left calc(50% + 660px) bottom -75px, // broccoli
      center top; // main background
  }

  .subscribe__popup {
    margin-top: 90px;
    margin-bottom: 150px;
  }
}

@include r(1070) {
  .subscribe {
    background-image:
      url("../img/fish__mob.png"),
      url("../img/broccoli-mob.png"),
      url("../img/main-bg.jpg");
    background-position:
      left calc(50% - 367px) top 229px, // fish
      left calc(50% + 364px) top 147px, // broccoli
      center top; // main background
    background-size: 284px 306px, 97px 101px, cover;
  }
  
  .subscribe .header {
    padding-top: 23px;
  }

  .subscribe .header__logo {
    width: 107px;
    height: 18px;
  }

  .subscribe__popup {
    margin-top: 62px;
    margin-bottom: 40px;
    padding-top: 46px;
    padding-bottom: 40px;
  }

  .subscribe__target {
    width: 72px;
    height: 72px;
    top: -35px;
  }

  .subscribe__target .half {
    width: 59px;
    height: 59px;
  }

  .subscribe__target .center {
    width: 49px;
    height: 49px;
  }

  .subscribe__target .center::after {
    width: 25px;
    height: 16px;
  }

  .subscribe__body {
    max-width: 400px;
    padding: 0 15px;
  }

  .subscribe__text {
    margin-bottom: 21px;
  }

  .subscribe__title {
    margin-bottom: 3px;
  }

  .subscribe__subtitle br {
    display: none;
  }

  .subscribe__field {
    margin-bottom: 15px;
  }

  .subscribe__label-description {
    margin-left: 15px;
    font-size: 16px;
    line-height: 22px;
  }

  .subscribe__agreement {
    margin-bottom: 22px;
    padding: 0;
  }

  .subscribe__agreement-link {
    padding-left: 44px;
    font-size: 16px;
    line-height: 22px;
  }
}

@include r(767) {
  .subscribe {
    background-position:
    left -125px top 229px, // fish
    right -28px top 147px, // broccoli
    center top; // main background
  }
}