<section class="subscribe">
  <div class="subscribe__wrapper wrapper">
    <div class="subscribe__popup popup">
      <div class="subscribe__target decorate-target">
        <div class="half">
          <div class="center"></div>
        </div>
      </div>
      <div class="subscribe__body">
        <div class="subscribe__text">
          <h2 class="subscribe__title popup__title">E-mail</h2>
          <p class="subscribe__subtitle popup__subtitle">Введите электронный адрес, <br> на который хотели бы получить свой план питания:</p>
        </div>
        <form action="/" class="subscribe__form">
          <div class="subscribe__field popup__field popup__field--email">
            <input type="email" class="subscribe__input popup__input" placeholder="Email" required>
          </div>
          <div class="subscribe__agreement">
            <label for="some" class="subscribe__label">
              <input id="some" type="checkbox" class="subscribe__checkbox visually-hidden" required>
              <span class="subscribe__check"></span>
              <span class="subscribe__label-description">Я понимаю и соглашаюсь с LA Diet / For Fit</span>
            </label>
            <a class="subscribe__agreement-link" href="privacy.html" target="_blank">Политика защиты данных</a>
          </div>
          <button type="submit" class="subscribe__button common-button common-button--sm">Продолжить</button>
        </form>
      </div>
    </div>
  </div>
</section>