<section class="subscribe__content">
  <div class="subscribe__wrapper wrapper">
    <div class="subscribe__popup popup">
      <div class="subscribe__target decorate-target">
        <div class="half">
          <div class="center"></div>
        </div>
      </div>
      <div class="subscribe__body">
        <div class="subscribe__text">
          <h2 class="subscribe__title popup__title">E-mail</h2>
          <p class="subscribe__subtitle popup__subtitle">Введите электронный адрес,<br>&nbsp;на который хотели бы&nbsp;получить свой план питания:</p>
        </div>
        <form action="/" class="subscribe__form">
          <div class="subscribe__field popup__field popup__field--email">
            <input type="email" class="subscribe__input popup__input popup__input--email" placeholder="Email" required>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" viewBox="0 0 30 20" class="icon icon--email icon-invalid">
              <path d="M0 0v20h30V0H0zm15 12L2 1h26zm-5-2l-9 8V2zm1 1l4 3 4-3 9 8H2zm9-1l9-8v16z" fill-rule="evenodd"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" viewBox="0 0 30 20" class="icon icon--email icon-valid">
              <path d="M0 0v20h30V0H0zm15 12L2 1h26zm-5-2l-9 8V2zm1 1l4 3 4-3 9 8H2zm9-1l9-8v16z" fill-rule="evenodd"/>
            </svg>
          </div>
          <div class="subscribe__agreement">
            <label for="some" class="subscribe__label">
              <input id="some" type="checkbox" class="subscribe__checkbox visually-hidden" required>
              <span class="subscribe__check"></span>
              <span class="subscribe__label-description">Я понимаю и соглашаюсь с <a class="subscribe__agreement-link" href="privacy.html" target="_blank">политикой защиты данных</a></span>
            </label>
          </div>
          <button type="submit" class="subscribe__button common-button common-button--sm">Продолжить</button>
        </form>
      </div>
    </div>
  </div>
</section>