body.get {
  background-image: url("../img/result-bg.jpg");
  background-position: center center;
  background-size: cover;
}

body.pay {
  @include decorate-background('partial');
  background-position:
    left -647px top calc(50% - 58px),
    right -474px top -281px,
    right -119px bottom 8px, center top
}