.common-button,
.male .common-button {
  position: relative;
  display: block;
  flex-shrink: 0;
  color: white;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  transition: all 0.3s;

  background-image: linear-gradient(
    to right,
    $boy-target-start,
    $boy-target-end
  );
  text-decoration: none;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;

  &:visited {
    color: white !important;
  }

  &:active {
    transform: translateY(3px);
  }

  &:disabled {
    color: transparentize(white, 0.3);
    background-color: #d3d3d3;
    background-image: none;
    cursor: auto;
  }

  &:disabled::after {
    opacity: 0.7;
  }

  &::after {
    content: "";
    position: absolute;
    background-position: center center;
    background-size: 100% 100%;
    transform: translateY(-50%);
  }

  &--lg {
    width: 398px;
    height: 80px;
    padding: 0 56px;
    font-size: 28px;
    line-height: 80px;
  }

  &--lg::after {
    top: calc(50% + 1px);
    right: 56px;
    width: 43px;
    height: 20px;
    background-image: url("../img/main-button-arrow.svg");
  }

  &--sm {
    width: 250px;
    height: 60px;
    padding-left: 54px;
    padding-right: 80px;
    font-size: 20px;
    line-height: 60px;
    text-align: left;
  }

  &--sm::after {
    content: "";
    top: calc(50% - 1px);
    right: 41px;
    width: 23px;
    height: 20px;
    background-image: url("../img/main-button-arrow-02.svg");
  }

  &--back {
    padding-left: 100px;
    padding-right: 54px;
    background: none;
    line-height: 56px;
    border: 2px solid $boy-target-start;
  }

  &--back::after {
    top: calc(50% - 11px);
    left: 41px;
    right: auto;
    transform: scaleX(-1);
  }
}

.female .common-button {
  background-image: linear-gradient(
    to right,
    $girl-target-start,
    $girl-target-end
  );
}

.female .common-button--back {
  border-color: $girl-target-start;
}

@include r(1070) {
  .common-button--lg {
    width: 280px;
    height: 60px;
    padding: 0 37px;
    font-size: 20px;
    line-height: 60px;
  }

  .common-button--lg::after {
    top: calc(50% - 1px);
    right: 41px;
    width: 23px;
    height: 20px;
    background-image: url("../img/main-button-arrow-02.svg");;
  }
}