.common-button,
.male .common-button {
  position: relative;
  display: block;
  flex-shrink: 0;
  color: white;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  transition: transform 0.3s;

  background-image: linear-gradient(
    to right,
    $boy-target-start,
    $boy-target-end
  );
  text-decoration: none;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;

  &:visited {
    color: white !important;
  }

  &:active {
    transform: translateY(3px);
  }

  &:hover {
    background-image: linear-gradient(to left, #23cba0, #009574);
	}

  &:disabled {
    color: transparentize(white, 0.3) !important;
    background-color: #d3d3d3 !important;
    background-image: none !important;
    cursor: auto !important;
  }

  &:disabled::after {
    opacity: 0.7 !important;
  }

  &::after {
    content: "";
    position: absolute;
    background-position: center center;
    background-size: 100% 100%;
    transform: translateY(-50%);
  }

  &--lg {
    width: 398px;
    height: 80px;
    padding: 0 56px;
    font-size: 28px;
    line-height: 80px;
  }

  &--lg::after {
    top: calc(50% + 1px);
    right: 56px;
    width: 43px;
    height: 20px;
    background-image: url("../img/main-button-arrow.svg");
  }

  &--sm {
    width: 250px;
    height: 60px;
    padding-left: 54px;
    padding-right: 80px;
    font-size: 20px;
    line-height: 60px;
    text-align: left;
  }

  &--sm::after {
    content: "";
    top: calc(50% - 1px);
    right: 41px;
    width: 23px;
    height: 20px;
    background-image: url("../img/main-button-arrow-02.svg");
  }

  &--border {
    padding-left: 100px;
    padding-right: 54px;
    line-height: 56px;
    background: none;
  }

  &--border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 2px solid $boy-target-start;
  }

  &--border::after {
    top: calc(50% - 11px);
    left: 41px;
    right: auto;
    transform: scaleX(-1);
  }

  &--border:hover::before {
    border-color: $transparent;
  }

  &--popup {
    padding: 0;
    color: black;
    font-size: 20px;
  }

  &--popup svg {
    fill: url("#man");
  }
}

.female .common-button {
  background-image: linear-gradient(
    to right,
    $girl-target-start,
    $girl-target-end
  );

  &:hover {
    background-image: linear-gradient(to left, #f57351, #e42d46);
  }

  &--popup svg {
    fill: url("#woman");
  }
}

.female .common-button--back {
  background: none;

  &::before {
    border-color: $girl-target-start;
  }

  &:hover::before {
    border-color: $transparent;
  }
}

@include r(1070) {
  .common-button--lg {
    width: 280px;
    height: 60px;
    padding: 0 37px;
    font-size: 20px;
    line-height: 60px;
  }

  .common-button--lg::after {
    top: calc(50% - 1px);
    right: 41px;
    width: 23px;
    height: 20px;
    background-image: url("../img/main-button-arrow-02.svg");;
  }
}