.popup {
  position: relative;
  width: 100%;
  max-width: 1030px;
  color: white;
  background-color: transparentize(#2e3844, 0.4);
  border-radius: 5px;
}

.popup__target {
  position: absolute;
  top: -60px;
  left: 50%;
  width: 120px;
  height: 120px;
  transform: translateX(-50%);

  & .half {
    width: 99px;
    height: 99px;
  }

  & .center {
    position: relative;
    width: 83px;
    height: 83px;
  }
}

.popup__title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.male .popup__subtitle,
.popup__subtitle {
  color: transparentize(white, 0.5);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: (26 / 20);

  & mark {
    color: #76e5c8;
  }
}

.female .popup__subtitle mark {
  color: #f55064;
}

.popup__field {
  position: relative;
}

.popup__input {
  width: 100%;
  height: 60px;
  color: white;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  background-color: $transparent;
  border: 1px solid #545e6a;
  border-radius: 5px;

  &::placeholder {
    color: transparentize(white, 0.5);
    font-weight: inherit;
    transition: color 0.3s;
  }

  &:focus::placeholder {
    color: $transparent;
  }
}

.popup__input--email {
  padding: 0 80px;
}

.popup__field .icon {
  position: absolute;
  transition: opacity 0.3s;
}

.popup__field .icon-invalid {
  fill: #ffffff;
}

.popup__field .icon-valid {
  opacity: 0;
}

.popup__field .icon-valid,
.male .popup__field .icon-valid {
  fill: url("#man");
}

.female .popup__field .icon-valid {
  fill: url("#woman");
}

.icon--email {
  top: 20px;
  left: 32px;
  width: 30px;
  height: 20px;
  background-image: url("../img/subscribe-email-icon.svg");
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.popup__input:valid ~ .icon-valid {
  opacity: 1;
}

@include r(1230) {
  .popup {
    max-width: 800px;
  }
}

@include r(1070) {
  .popup {
    max-width: 550px;
    min-height: auto;
  }

  .popup__target {
    width: 72px;
    height: 72px;
    top: -35px;
  }

  .popup__target .half {
    width: 59px;
    height: 59px;
  }

  .popup__target .center {
    width: 49px;
    height: 49px;
  }

  .popup__title {
    font-size: 24px;
  }

  .popup__subtitle {
    font-size: 18px;
    line-height: 22px;
  }

  .popup__input {
    height: 50px;
    font-size: 16px;
  }

  .popup__input--email {
    padding: 0 53px;
  }

  .popup__input--email::placeholder {
    position: relative;
    top: -1px;
  }

  .icon--email {
    top: 16px;
    left: 20px;
    width: 24px;
    height: 16px;
  }
}