<div class="section faq wrapper--sm">
    <div class="faq__content">
        <div class="faq__top">
            <div class="faq__top-circle faq__top-circle--1"></div>
            <div class="faq__top-circle faq__top-circle--2"></div>
            <div class="faq__top-circle faq__top-circle--3">
                <img src="img/answer.svg" alt="answer">
            </div>
        </div>

        <h2 class="faq__title">
            Часто задаваемые вопросы
        </h2>
        <h3 class="faq__subtitle">
            Здесь вы можете найти некоторые из наиболее часто задаваемых вопросов.
        </h3>
        <div class="faq__answer">
            <div class="faq__item">
                <div class="faq__item-top">
                    <h3 class="faq__item-title">
                        Где мой план питания?
                    </h3>
                    <div class="faq__item-open"></div>
                </div>
                <p class="faq__item-text">
                    Для начала проверьте в почте папку "Спам". Если его там нет, возможно, вы допустили ошибку при
                    написании своего электронного адреса. Напишите нам письмо, указав свой электронный адрес и страну,
                    из которой покупали план питания, и мы поможем вам его найти.
                </p>
            </div>
            <div class="faq__item">
                <div class="faq__item-top">
                    <h3 class="faq__item-title">
                        Когда я получу свой план питания?
                    </h3>
                    <div class="faq__item-open"></div>
                </div>
                <p class="faq__item-text">
                    Вы должны получить свой план питания сразу же после оплаты. Пожалуйста,
                    проверьте в почте папку “Спам”, и если там нет вашего плана питания, напишите нам.
                </p>
            </div>
            <div class="faq__item">
                <div class="faq__item-top">
                    <h3 class="faq__item-title">
                        Я вижу продукты, которые я исключил.
                    </h3>
                    <div class="faq__item-open"></div>
                </div>
                <p class="faq__item-text">
                    Если продукты не существенно важны для рецепта, можете приготовить блюдо без них. Существенно важные
                    ингредиенты обозначены цветом. Если у вас есть рецепт с ингредиентом, который вы исключили/заменили,
                    а он в рецепте обозначен цветом, пожалуйста, напишите нам, и мы решим этот вопрос.
                </p>
            </div>
            <div class="faq__item">
                <div class="faq__item-top">
                    <h3 class="faq__item-title">
                        Ингредиенты в сыром или в приготовленном виде?
                    </h3>
                    <div class="faq__item-open"></div>
                </div>
                <p class="faq__item-text">
                    Все ингредиенты указаны в сыром виде.
                </p>
            </div>
            <div class="faq__item">
                <div class="faq__item-top">
                    <h3 class="faq__item-title">
                        Где можно найти рецепты?
                    </h3>
                    <div class="faq__item-open"></div>
                </div>
                <p class="faq__item-text">
                    Вы увидите ингредиенты, их количество и шаги приготовления блюда, когда нажмете на название рецепта.
                    Откроется окно со всей необходимой информацией.
                </p>
            </div>
            <div class="faq__item">
                <div class="faq__item-top">
                    <h3 class="faq__item-title">
                        Пропадет ли план питания?
                    </h3>
                    <div class="faq__item-open"></div>
                </div>
                <p class="faq__item-text">
                    Нет, у вас есть пожизненный доступ к этому плану питания.
                </p>
            </div>
            <div class="faq__item">
                <div class="faq__item-top">
                    <h3 class="faq__item-title">
                        Это подписка?
                    </h3>
                    <div class="faq__item-open"></div>
                </div>
                <p class="faq__item-text">
                    Нет, цена указана для всех 60 дней плана питания, и это не подписка. Оплата производится одноразово,
                    и больше нет никаких дополнительных сборов.
                </p>
            </div>
            <div class="faq__item">
                <div class="faq__item-top">
                    <h3 class="faq__item-title">
                        Можно ли есть фрукты?
                    </h3>
                    <div class="faq__item-open"></div>
                </div>
                <p class="faq__item-text">
                    Кетогенная диета - это диета с очень низким содержанием углеводов, а большинство фруктов содержит
                    много сахара, что делает их не очень кетогенным вариантом питания. Но есть определенные
                    низкогликемические фрукты, такие как черника, малина, голубика, клубника, которые можно употреблять
                    в умеренном количестве.
                </p>
            </div>
            <div class="faq__item">
                <div class="faq__item-top">
                    <h3 class="faq__item-title">
                        Что пить?
                    </h3>
                    <div class="faq__item-open"></div>
                </div>
                <p class="faq__item-text">
                    Можно пить кофе и чай. Не забывайте пить воду! Очень важно пить много воды в первые несколько дней
                    кетодиеты, в связи с усиленным выведением воды из организма, вызыванным истощением гликогеновых
                    запасов организма!
                </p>
            </div>
            <div class="faq__item">
                <div class="faq__item-top">
                    <h3 class="faq__item-title">
                        Вы будете присылать мне рецепты каждую неделю?
                    </h3>
                    <div class="faq__item-open"></div>
                </div>
                <p class="faq__item-text">
                    Вы можете переключить неделю, нажав “неделя 1” в левом углу вашего плана питания.
                </p>
            </div>
            <div class="faq__item">
                <div class="faq__item-top">
                    <h3 class="faq__item-title">
                        В моей диете слишком много калорий!
                    </h3>
                    <div class="faq__item-open"></div>
                </div>
                <p class="faq__item-text">
                    Не беспокойтесь о потреблении калорий, план питания рассчитан соответственно вашему типу тела. Если
                    вы резко снизите потребление калорий, это может спровоцировать проблемы со здоровьем. Суть не в том,
                    чтобы есть меньше, а в том, чтобы питаться правильно. У вас есть правильный план питания! С
                    кетодиетой вы будете потреблять жир и сжигать больше жира.
                </p>
            </div>
            <div class="faq__item">
                <div class="faq__item-top">
                    <h3 class="faq__item-title">
                        Аллергии
                    </h3>
                    <div class="faq__item-open"></div>
                </div>
                <p class="faq__item-text">
                    Если у вас есть аллергия на какой-либо продукт в вашем плане питания, немедленно свяжитесь с нами.
                    Мы обсудим это с нашей командой специалистов, чтобы предложить вам наилучшую замену!
                </p>
            </div>
            <div class="faq__item">
                <div class="faq__item-top">
                    <h3 class="faq__item-title">
                        Так что же такое кетодиета?
                    </h3>
                    <div class="faq__item-open"></div>
                </div>
                <p class="faq__item-text">
                    Кетогенная или кетодиета - это богатая жирами низкоуглеводная диета с умеренным потреблением белка.
                    75% ваших калорий на кетогенной диете вы получаете из жира, 20% - из белка, и только 5% от общего
                    потребления калорий поступает из углеводов. Благодаря такому соотношению наш организм меняет
                    основной источник топлива с углеводов на жир, что приводит к выработке дополнительного источника
                    энергии, известного как кетоны. Это уникальное метаболическое состояние известно как кетоз.
                </p>
            </div>
            <div class="faq__item">
                <div class="faq__item-top">
                    <h3 class="faq__item-title">
                        Как определить, начался ли у меня процесс кетоза?
                    </h3>
                    <div class="faq__item-open"></div>
                </div>
                <p class="faq__item-text">
                    Есть определенные признаки того, что у вас начался процесс кетоза: потеря веса; повышенное
                    мочеиспускание; неприятный запах изо рта и фруктовый, металлический привкус во рту;
                    сообразительность; повышение уровня энергии; иногда бессонница. Также определить наличие кетоза
                    могут тесты, например, анализ крови и мочи. Можете использовать кетоновые тестовые полоски для
                    проверки кетоновых тел. Также можно сделать анализ крови, используя кетометр.
                </p>
            </div>
            <div class="faq__item">
                <div class="faq__item-top">
                    <h3 class="faq__item-title">
                        Что такое "кетозный грипп" ?
                    </h3>
                    <div class="faq__item-open"></div>
                </div>
                <p class="faq__item-text">
                    В первые дни кетодиеты бывают случаи проявления некоторых симптомов, которые называются
                    "кето-гриппом". Кето-грипп - это чувство затуманенного сознания, истощения и, возможно, тошноты
                    из-за кето-адаптации. Это естественная реакция вашего организма при переходе от сжигания углеводов к
                    сжиганию жира как основного источника энергии. Хорошо сформулированная кетогенная диета часто может
                    облегчить эти симптомы. У вас могут проявиться все эти симптомы или некоторые из них. Не волнуйтесь,
                    это пройдет!
                </p>
            </div>
        </div>
        <div class="faq__back">
            Назад
        </div>
    </div>
</div>