.faq {
  margin-right: auto;
  margin-left: auto;
  &__content {
    border-radius: 5px;

    margin-top: 183px;
    margin-bottom: 116px;
    width: 100%;
    background-color: transparentize(#2e3844, .4);
    padding-left: 97px;
    padding-right: 103px;
    padding-bottom: 50px;
  }

  &__top {
    width: 120px;
    height: 120px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    position: relative;
    top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-circle {
      border-radius: 50%;
      background-image: linear-gradient(to left,$grad-start 0%,$grad-end 100%);
      &--1, &--2 {
        opacity: 0.15;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &--1 {
        width: 100%;
        height: 100%;
      }
      &--2 {
        width: 100px;
        height: 100px;
      }
      &--3 {
        width: 84px;
        height: 84px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__title {
    margin-top: -39px;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
  }

  &__subtitle {
    margin-top: 17px;
    text-align: center;
    color: transparentize(#ffffff, .5);
    font-size: 20px;
    font-weight: 400;
  }

  &__answer {
    margin-top: 47px;
  }

  &__item {
    padding-left: 29px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    background-color: #414d5c;
    margin-bottom: 15px;
    border: 2px solid #414d5c;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover:not(.active) {
      border: 2px solid $grad-start;
      background-color: #3b5b62;
      & .faq__item-open {
        background-color: transparentize(#13b389, 0.66);
        &::before,
        &::after {
          opacity: 1;
        }

      }
    }

    &-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-title {
      transition: .5s;

      color: #ffffff;
      font-size: 18px;
      font-weight: 300;
    }
    &-text {
      padding-right: 150px;
      margin-top: 5px;
      display: none;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      line-height: 22px;
    }
    &-open {
      width: 40px;
      height: 40px;
      background-color: #2e3844;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        opacity: 0.5;
      }

      &::before {
        width: 16px;
        height: 2px;
      }
      &::after {
        height: 16px;
        width: 2px;
      }
    }

    &.active {
      transition: .3s;
      padding-bottom: 24px;

      & .faq__item-title {
        transition: .5s;

        font-weight: 500;
      }
      & .faq__item-open {
        background-image: linear-gradient(to right,$grad-end,$grad-start);
        &::before {
          opacity: 1;
        }
        &::after {
          display: none;
        }
      }
    }
  }

  &__back {
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    line-height: 60px;
    text-align: right;
    padding-right: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    max-width: 250px;
    height: 60px;
    border-radius: 29px;
    background-color: #2e3844;
    background-image: linear-gradient(to right,$grad-end,$grad-start);
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 23px;
      height: 20px;
      top: 50%;
      left: 76px;
      transform: translateY(-50%);
      background-image: url('../img/back__arrow.svg');
      background-repeat: no-repeat;
    }
  }
}

.female {
  .faq, .general {
    & .faq__top-circle {
      background-image: linear-gradient(to left,#fb8768 0%,#f54d64 100%);
    }

    & .faq__back {
      background-image: linear-gradient(to left,#fb8768 0%,#f54d64 100%);
    }
    & .faq__item.active .faq__item-open {
      background-image: linear-gradient(to left, #fb8768 0%, #f54d64 100%);
    }
    & .faq__item:hover:not(.active) {
      border: 2px solid #fb8768;
      background-color: #644e5e;
      & .faq__item-open {
        background-color: transparentize(#f55164, 0.66);
      }
    }
  }
}

@include r(1070) {
  .faq {
    &__content {
      margin-top: 120px;
      margin-bottom: 80px;
      padding-right: 50px;
      padding-left: 50px;
      padding-bottom: 30px;
    }
    &__title {
      font-size: 36px;
    }
    &__answer {
      margin-top: 30px;
    }
    &__item {
      &-text {
        padding-right: 30px;
      }
    }
    &__back {
      margin-top: 30px;
    }
  }
}

@include r(1070) {
  .faq {
    &__content {
      margin-top: 120px;
      margin-bottom: 80px;
      padding-right: 50px;
      padding-left: 50px;
      padding-bottom: 30px;
    }
    &__title {
      font-size: 36px;
    }
    &__answer {
      margin-top: 30px;
    }
    &__item {
      &-text {
        padding-right: 30px;
      }
    }
    &__back {
      margin-top: 30px;
    }
  }
}

@include r(767) {
  .faq {
    &__content {
      margin-top: 100px;
      margin-bottom: 60px;
      padding-right: 30px;
      padding-left: 30px;
      padding-bottom: 30px;
    }
    &__title {
      font-size: 30px;
    }
    &__subtitle {
      margin-top: 10px;
      font-size: 18px;
    }
    &__answer {
      margin-top: 20px;
    }
    &__item {
      &-text {
        padding-right: 30px;
      }
    }
    &__back {
      margin-top: 30px;
    }
  }
}

@include r(639) {
  .faq {
    &__content {
      margin-top: 90px;
      margin-bottom: 60px;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 30px;
    }
    &__top {
      width: 90px;
      height: 90px;
      top: -45px;
      &-circle {
        &--2 {
          width: 70px;
          height: 70px;
        }
        &--3 {
          width: 50px;
          height: 50px;
          & img {
            width: 21px;
          }
        }
      }
    }
    &__title {
      margin-top: -30px;
      font-size: 24px;
    }

    &__item {
      &-text {
        padding-right: 30px;
      }
      &-open {
        flex-shrink: 0;
      }
    }
    &__back {
      margin-top: 30px;
    }
  }
}

@include r(479) {
  .faq {
    &__content {
      margin-top: 65px;
      margin-bottom: 50px;
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 20px;
    }
    &__top {
      width: 72px;
      height: 72px;
      top: -35px;
      &-circle {
        &--2 {
          width: 60px;
          height: 60px;
        }
        &--3 {
          width: 50px;
          height: 50px;
          & img {
            width: 21px;
          }
        }
      }
    }
    &__title {
      margin-top: -25px;
      font-size: 24px;
    }
    &__subtitle {
      font-size: 18px;
      line-height: 22px;
    }
    &__answer {
      margin-top: 10px;
    }
    &__item {
      margin-bottom: 10px;
      padding-left: 15px;
      &.active {
        padding-bottom: 15px;
      }
      &-title {
        font-size: 16px;
      }
      &-text {
        font-size: 16px;
        padding-right: 0px;
      }
      &-open {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        margin-left: 15px;
        &::before {
          width: 12px;
        }
        &::after {
          height: 12px;
        }
      }
    }
    &__back {
      margin-top: 20px;
    }
  }
}