.price {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: 300;
  line-height: 1;

  & .value {
    display: flex;
  }

  & .currency {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(50% + 9px);
    left: 50%;
    height: 65px;
    border-left: 1px solid #4b5d74;
    transform: translate(-50%, -50%)
  }
}

.price__cell {
  display: flex;
  width: 50%;
}

.price__old {
  position: relative;
  margin-left: auto;
  margin-right: 62px;
  margin-bottom: 5px;
  color: #545e6a;

  & .value {
    font-size: 80px;
  }

  & .float {
    position: relative;
    top: 9px;
    left: -3px;
    font-size: 25px;
  }

  & .currency {
    position: absolute;
    bottom: 9px;
    right: 4px;
    font-size: 14px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    left: -8px;
    width: 161px;
    border-top: 1px solid #f54d64;
    transform-origin: center left;
    transform: rotate(15deg);
  }
}

.price__current {
  position: relative;
  display: flex;
  margin-left: 43px;
  margin-right: auto;
  color: #2ccda4;

  & .value {
    font-size: 120px;
  }

  & .float {
    position: relative;
    top: 13px;
    left: -9px;
    font-size: 40px;
  }

  & .currency {
    position: absolute;
    bottom: 14px;
    right: 14px;
    color: white;
    font-size: 18px;
  }
}

@include r(1070) {
  .price::after {
    height: 45px;
    top: 50%;
  }

  .price__old .value,
  .price__current .value {
    font-size: 60px;
  }

  .price__old .float,
  .price__current .float {
    font-size: 20px;
  }

  .price__old .currency,
  .price__current .currency {
    font-size: 14px;
  }

  .price__old {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 24px;
    font-weight: 100;
  }

  .price__old::after {
    width: 127px;
    transform: rotate(19deg);
  }

  .price__old .float {
    top: 5px;
    left: -1px;
  }

  .price__old .currency {
    bottom: 6px;
    right: -3px;
  }

  .price__current {
    margin-left: 9px;
  }

  .price__current .float {
    top: 6px;
    left: 5px;
  }

  .price__current .currency {
    bottom: 6px;
    right: -8px;
  }
}

.price__current,
.male .price__current {
  color: $boy-target-start;
}

.female .price__current {
  color: $girl-target-start;
}

@supports (-webkit-background-clip: text) {
  .price__current .int,
  .price__current .float,
  .male .price__current .int,
  .male .price__current .float {
    -webkit-background-clip: text;
    -webkit-text-fill-color: $transparent;
    background-image: linear-gradient(to right, $boy-target-start, $boy-target-end);
  }

  .female .price__current .int,
  .female .price__current .float {
    background-image: linear-gradient(to right, $girl-target-start, $girl-target-end);
  }
}