.finish {
  &__top {
    width: 120px;
    height: 120px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &-circle {
      border-radius: 50%;
      background-image: linear-gradient(to left,$grad-start 0%,$grad-end 100%);
      &--1, &--2 {
        opacity: 0.15;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &--1 {
        width: 100%;
        height: 100%;
      }
      &--2 {
        width: 100px;
        height: 100px;
      }
      &--3 {
        width: 84px;
        height: 84px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__inner {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
      &--mob {
        display: none;
        .finish__text {
          flex-direction: column;
          align-items: center;
          width: 100%;
          min-width: 100%;
        }
      }
  }
  &__title {
    text-align: center;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    line-height: 45px;
    margin-top: 18px;
  }
  &__circle {
    border-radius: 50%;
    width: 230px;
    height: 230px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 123px;

    &-bg {
      width: calc(100% - 5px);
      height: calc(100% - 5px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: inset 0 0 37px transparentize(#74e4c7, .9);
      border-radius: 50%;
    }
    &-svg {
      position: absolute;
      top: 0;
      left: 0;
    }
    &-path {
      stroke: url(#man);
    }
    &-proc {
      font-size: 60px;
      font-weight: 400;
    }
  }

  &__text {
    margin-top: 94px;
    width: 100%;
    min-width: 1030px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &-item {
      flex-shrink: 0;

      margin-right: 10px;
      margin-left: 10px;
      opacity: 0.3;
      color: #ffffff;
      font-size: 20px;
      font-weight: 300;
      transform: scale(.8);
      &.active {
        opacity: 1;
        transform: scale(1);

      }
      &.small {
        transform: scale(.6);
        opacity: .2;
      }
    }
  }
}

@include r(1230) {
  .finish {
    &__circle {
      margin-top: 50px;
    }
    &__text {
      margin-top: 50px;
    }
  }
}

@include r(1070) {
  .finish {
    &__title {
      font-size: 36px;
    }
  }
}

@include r(767) {
  .finish {
    &__circle {
      margin-top: 30px;
    }
    &__text {
      margin-top: 30px;
    }
    &__title {
      font-size: 30px;
    }
  }
}

@include r(639) {
  .finish {
    &__inner {
      &--des {
        display: none;
      }
      &--mob {
        display: block;
      }
    }
    &__title {
      font-size: 26px;
      padding-right: 80px;
      padding-left: 80px;
      line-height: 1;
    }
    &__top {
      position: relative;
      top: -35px;
      margin-bottom: -42px;
      width: 72px;
      height: 72px;
      &-circle {
        &--2 {
          width: 60px;
          height: 60px;
        }
        &--3 {
          width: 50px;
          height: 50px;
          & img {
            width: 32px;
          }
        }
      }
    }
    &__circle {
      width: 150px;
      margin-top: 20px;
      height: 150px;
      &-proc {
        font-size: 42px;
      }
    }
    &__text {
      margin-top: 20px;
      position: relative;
      height: 20px;
      &-item {
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        top: 0;
        display: none;
        font-size: 20px;
        opacity: 1;
        &:first-child {
          display: block;
        }
      }
    }
    &__content {
      padding-bottom: 30px;
      margin-top: 35px;
      background-color: transparentize(#2e3844, 0.3);
    }
  }
}

@include r(479) {
  .finish {
    &__title {
      font-size: 24px;
      padding-right: 30px;
      padding-left: 30px;
    }
    &__content {
      padding-bottom: 20px;
    }
    &__top {
      position: relative;
      top: -35px;
      margin-bottom: -42px;
      width: 72px;
      height: 72px;
      &-circle {
        &--2 {
          width: 60px;
          height: 60px;
        }
        &--3 {
          width: 50px;
          height: 50px;
          & img {
            width: 32px;
          }
        }
      }
    }
    &__circle {
      width: 115px;
      margin-top: 20px;
      height: 115px;
      &-proc {
        font-size: 36px;
      }
    }
    &__text {
      margin-top: 15px;
      height: 40px;
      max-width: 150px;
      min-width: 180px !important;
      margin-right: auto;
      margin-left: auto;
      line-height: 20px;
      &-item {
        left: -10px;
        font-size: 17px;
        opacity: 1;
      }
    }
  }
}