<div class="finish test--content" id="finish">
    <div class="finish__content">
        <div class="finish__top">
            <div class="finish__top-circle finish__top-circle--1"></div>
            <div class="finish__top-circle finish__top-circle--2"></div>
            <div class="finish__top-circle finish__top-circle--3">
                <img src="img/inf.svg" alt="infinity">
            </div>
        </div>
        <h3 class="finish__title">
            Разрабатываем план питания
        </h3>
        <div class="finish__circle">
            <div class="finish__circle-bg"></div>
            <svg xmlns="http://www.w3.org/2000/svg" class="finish__circle-svg" width="100%" height="100%"  viewBox="0 0 236 236">
                <defs>
                    <clipPath id="bzf6a">
                        <path fill="#fff"
                              d="M0 236V0h236v236zm3-118c0 63.513 51.487 115 115 115s115-51.487 115-115S181.513 3 118 3 3 54.487 3 118z"/>
                    </clipPath>
                </defs>
                <g>
                    <g>

                        <path class="finish__circle-path" fill="none" stroke-dasharray="730"
                              stroke-width="6"
                              d="M118 3c63.513 0 115 51.487 115 115s-51.487 115-115 115S3 181.513 3 118 54.487 3 118 3z"
                              clip-path="url(&quot;#bzf6a&quot;)"/>
                    </g>
                </g>
            </svg>
            <div class="finish__circle-proc">
                <span class="calc-plan">75</span><span>%</span>
            </div>
        </div>
        <div class="finish__text tl_slider">
            <div class="finish__text-item active">
                Подсчитываем профиль питания...
            </div>
            <div class="finish__text-item">
                Рассчитываем количество еды...
            </div>
            <div class="finish__text-item small">
                Выбираем подходящие рецепты...
            </div>
        </div>
    </div>
</div>