<div class="help">
    <img src="img/help__close.svg" alt="close" class="help__close">
    <div class="help__percent">
        <div class="help__percent-circle help__percent-circle--1"></div>
        <div class="help__percent-circle help__percent-circle--2"></div>
        <div class="help__percent-circle help__percent-circle--3">
            <p class="help__percent-text">?</p>
        </div>
    </div>

    <p class="help__text">
        The products that you choose to be Excluded will not be found in your personalized meal plan. We recommend you
        to exclude only the food that you are allergic to, should not eat due to a medical condition or a dietary
        restriction, or foods that you
        absolutely hate. The more products you include, the more diverse and effective your diet will be.
    </p>
</div>
<div class="help__overlay">

</div>