.svg-gradients-example {
  width: 0;
  height: 0;
  line-height: 0;
  position: absolute;
}
.progressBar {
  padding-top: 50px;
  padding-bottom: 45px;
  padding-left: 11px;
  padding-right: 10px;
  background-color: transparentize(#202a36, 0.4);
  border-radius: 0 0 5px 5px;
  border-top: 1px solid rgba(101, 110, 121, 0.4);
  width: 100%;

  position: relative;
  &--before {
    width: calc(100% - 120px);
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    border-radius: 1px;
    background-color: #545e6a;
  }
  &--after {
    position: absolute;
    top: 110px;
    width: calc(0px);
    height: 4px;
    left: 60px;
    z-index: 2;
    background-image: linear-gradient(to left, rgb(118, 229, 200) 0%, rgb(39, 205, 162) 100%);
  }
  &__wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__item {
    width: 100px;
    text-align: center;
    &--last {
      display: none;
    }
  }
  &__ico {
    opacity: 0.4;
    fill: #fff;
  }
  &__img {
    margin-right: auto;
    margin-left: auto;
    width: 39px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &__circle {
    pointer-events: none;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 17px;
    width: 20px;
    height: 20px;
    background-color: #545e6a;
    border-radius: 50%;
    position: relative;
    z-index: 3;
    &:hover {
      & + .progressBar__text {
        text-decoration: underline;
      }
    }
  }
  &__text  {
    opacity: 0.4;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    margin-top: 14px;
  }
}

#test1 {
  .progressBar {
    &--after {
      width: calc(0px);
    }

    &__item {
      &:nth-child(-n + 1) {
        .progressBar__text {
          opacity: 1;
        }
        .progressBar__circle {
          background-color: #27cda2;
        }
        .progressBar__ico {
          opacity: 1;
          fill: #27cda2;
        }
      }
    }

  }
}
#test2 {
  .progressBar {
    &--after {
      width: calc(130px);
    }
    &__item {
      &:nth-child(-n + 1) {
        .progressBar__circle {
          pointer-events: visible;
        }
      }
      &:nth-child(-n + 2) {
        .progressBar__text {
          opacity: 1;
        }
        .progressBar__circle {
          background-color: #27cda2;
        }
        .progressBar__ico {
          opacity: 1;
          fill: #27cda2;
        }
      }
    }
  }
}
#test3 {
  .progressBar {
    &--after {
      width: calc(270px);
    }
    &__item {
      &:nth-child(-n + 2) {
        .progressBar__circle {
          pointer-events: visible;
        }
      }
      &:nth-child(-n + 3) {
        .progressBar__text {
          opacity: 1;
        }
        .progressBar__circle {
          background-color: #27cda2;
        }
        .progressBar__ico {
          opacity: 1;
          fill: #27cda2;
        }
      }
    }
  }
}
#test4 {
  .progressBar {
    &--after {
      width: calc(390px);
    }
    &__item {
      &:nth-child(-n + 3) {
        .progressBar__circle {
          pointer-events: visible;
        }
      }
      &:nth-child(-n + 4) {
        .progressBar__text {
          opacity: 1;
        }
        .progressBar__circle {
          background-color: #27cda2;
        }
        .progressBar__ico {
          opacity: 1;
          fill: #27cda2;
        }
      }
    }
  }
}
#test5 {
  .progressBar {
    &--after {
      width: calc(520px);
    }
    &__item {
      &:nth-child(-n + 4) {
        .progressBar__circle {
          pointer-events: visible;
        }
      }
      &:nth-child(-n + 5) {
        .progressBar__text {
          opacity: 1;
        }
        .progressBar__circle {
          background-color: #27cda2;
        }
        .progressBar__ico {
          opacity: 1;
          fill: #27cda2;
        }
      }
    }
  }
}
#test6 {
  .progressBar {
    &--after {
      width: calc(640px);
    }
    &__item {
      &:nth-child(-n + 5) {
        .progressBar__circle {
          pointer-events: visible;
        }
      }
      &:nth-child(-n + 6) {
        .progressBar__text {
          opacity: 1;
        }
        .progressBar__circle {
          background-color: #27cda2;
        }
        .progressBar__ico {
          opacity: 1;
          fill: #27cda2;
        }
      }
    }
  }
}
#test7 {
  .progressBar {
    &--after {
      width: calc(780px);
    }
    &__item {
      &:nth-child(-n + 6) {
        .progressBar__circle {
          pointer-events: visible;
        }
      }
      &:nth-child(-n + 7) {
        .progressBar__text {
          opacity: 1;
        }
        .progressBar__circle {
          background-color: #27cda2;
        }
        .progressBar__ico {
          opacity: 1;
          fill: #27cda2;
        }
      }
    }
  }
}
#test8 {
  .progressBar {
    &--after {
      width: calc(910px);
    }
    &__item {
      &:nth-child(-n + 8) {
        .progressBar__text {
          opacity: 1;
        }
        .progressBar__circle {
          background-color: #27cda2;
        }
        .progressBar__ico {
          opacity: 1;
          fill: #27cda2;
        }
        &:nth-child(-n + 7) {
          .progressBar__circle {
            pointer-events: visible;
          }
        }
      }
    }
  }
}

#finish {
  .progressBar {
    display: none;
  }
}

@include r(1070) {
  #test2 {
    .progressBar {
      &--after {
        width: calc(85px);
      }
    }
  }
  #test3 {
    .progressBar {
      &--after {
        width: calc(170px);
      }
    }
  }
  #test4 {
    .progressBar {
      &--after {
        width: calc(170px + 85px);
      }
    }
  }
  #test5 {
    .progressBar {
      &--after {
        width: calc(170px + 2 * 85px);
      }
    }
  }
  #test6 {
    .progressBar {
      &--after {
        width: calc(175px + 3 * 85px);
      }
    }
  }
  #test7 {
    .progressBar {
      &--after {
        width: calc(175px + 4 * 85px);
      }
    }
  }
  #test8 {
    .progressBar {
      &--after {
        width: calc(180px + 5 * 85px);
      }
    }
  }
}

@include r(767) {
  .progressBar {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 5px;
    padding-left: 5px;
    &--before {
      width: calc(100% - 80px);
      top: 90px;
    }
    &--after {
      top: 90px;
      left: 40px;
    }
    &__text {
      font-size: 14px;
      padding-right: 3px;
      padding-left: 3px;
    }
  }

  #test2 {
    .progressBar {
      &--after {
        width: calc(80px);
      }
    }
  }
  #test3 {
    .progressBar {
      &--after {
        width: calc(160px);
      }
    }
  }
  #test4 {
    .progressBar {
      &--after {
        width: calc(230px);
      }
    }
  }
  #test5 {
    .progressBar {
      &--after {
        width: calc(300px);
      }
    }
  }
  #test6 {
    .progressBar {
      &--after {
        width: calc(370px);
      }
    }
  }
  #test7 {
    .progressBar {
      &--after {
        width: calc(440px);
      }
    }
  }
  #test8 {
    .progressBar {
      &--after {
        width: calc(510px);
      }
    }
  }
}

@include r(639) {
  .progressBar {
    &--before {
      width: calc(100% - 150px);
    }
    &--after {
      left: 80px;
      max-width: 140px;
      min-width: 140px;
    }
    &__item {
      width: 150px;
      display: none;
    }
  }
  #test1 {
    .progressBar {
      display: none;
    }
  }
  #test2 {
    .progressBar {

      &__item:nth-child(n+1):nth-child(-n+3) {
        display: block;
      }
    }
  }
  #test3 {
    .progressBar {

      &__item:nth-child(n+2):nth-child(-n+4) {
        display: block;
      }
    }
  }
  #test4 {
    .progressBar {

      &__item:nth-child(n+3):nth-child(-n+5) {
        display: block;
      }
    }
  }
  #test5 {
    .progressBar {

      &__item:nth-child(n+4):nth-child(-n+6) {
        display: block;
      }
    }
  }
  #test6 {
    .progressBar {

      &__item:nth-child(n+5):nth-child(-n+7) {
        display: block;
      }
    }
  }
  #test7 {
    .progressBar {

      &__item:nth-child(n+6):nth-child(-n+8) {
        display: block;
      }
    }
  }
  #test8 {
    .progressBar {

      &__item:nth-child(n+7):nth-child(-n+9) {
        display: block;
      }
    }
  }
}

@include r(479) {
  .progressBar {
    padding-top: 20px;
    padding-bottom: 20px;
      &__text {
        font-size: 13px;
      }
    &--before {
      top: 80px;
      width: calc(100% - 100px);
    }
    &--after {
      left: 50px;
      max-width: 80px;
      min-width: 80px;
      top: 80px;
    }
  }
}