<div class="test2 test--content" id="test2">
    <div class="test__container test__container--2">
        <div class="test__percent">
            <div class="test__percent-circle test__percent-circle--1"></div>
            <div class="test__percent-circle test__percent-circle--2"></div>
            <div class="test__percent-circle test__percent-circle--3">
                <p class="test__percent-text">12%</p>
            </div>
        </div>
        <div class="test__nav">
            <div class="test__nav-back" data-prev="test1">
                <img src="img/back-arrow.svg" alt="arrow">
            </div>
            <h2 class="test__nav-title">
                Физическая активность
            </h2>
            <div class="test__nav-help">
                ?
            </div>
        </div>
        <div class="test__content">
            <div class="test__content-item">
                <p class="test__content-name">Минимальная физическая активность</p>
                <span class="test__content-el"></span>
            </div>
            <div class="test__content-item">
                <p class="test__content-name">Я часто хожу пешком</p>
                <span class="test__content-el"></span>
            </div>
            <div class="test__content-item">
                <p class="test__content-name">Я занимаюсь 1-2 раза в неделю</p>
                <span class="test__content-el"></span>
            </div>
            <div class="test__content-item">
                <p class="test__content-name">Я занимаюсь 3-5 раза в неделю</p>
                <span class="test__content-el"></span>
            </div>
            <div class="test__content-item">
                <p class="test__content-name">Я занимаюсь 5-7 раза в неделю</p>
                <span class="test__content-el"></span>
            </div>
        </div>
    </div>
</div>