<!--=include ../header/header.html -->
<section class="test">
    <div class="wrapper--sm test__wrapper">
        <!--=include ./test-1.html -->
        <!--=include ./test-2.html -->
        <!--=include ./test-3.html -->
        <!--=include ./test-4.html -->
        <!--=include ./test-5.html -->
        <!--=include ./test-6.html -->
        <!--=include ./test-7.html -->
        <!--=include ./test-8.html -->
        <!--=include ./finish.html -->

        <!--=include ./progressBar.html -->
        <!--=include ./help.html -->
    </div>
</section>
<!--=include ../footer/footer.html -->