<div class="test1 test--content" id="test1">
    <h2 class="test__main-title">
        Получите <br>
        свою кетодиету
    </h2>

    <div class="test__container test__container--1">
        <div class="test__item test__item-man test__item--js" id="male">
            <div class="test__item-circle test__item-circle--1"></div>
            <div class="test__item-circle test__item-circle--2"></div>
            <div class="test__item-circle test__item-circle--3">
                <img src="img/man-ico.svg" alt="man" class="test__item--img">
                <p class="test__item-text">Мужской</p>
            </div>
        </div>
        <div class="test__item test__item--second">
            <p class="test__item-des">или</p>
        </div>
        <div class="test__item test__item-girl test__item--js" id="female">
            <div class="test__item-circle test__item-circle--1"></div>
            <div class="test__item-circle test__item-circle--2"></div>
            <div class="test__item-circle test__item-circle--3">
                <img src="img/girl-ico.svg" alt="man" class="test__item--img">
                <p class="test__item-text">Женский</p>
            </div>
        </div>

    </div>


</div>