<div class="test7 test--content" id="test7">
    <div class="test__container test__container--7">
        <div class="test__percent">
            <div class="test__percent-circle test__percent-circle--1"></div>
            <div class="test__percent-circle test__percent-circle--2"></div>
            <div class="test__percent-circle test__percent-circle--3">
                <p class="test__percent-text">75%</p>
            </div>
        </div>
        <div class="test__nav">
            <div class="test__nav-back" data-prev="test6">
                <img src="img/back-arrow.svg" alt="arrow">
            </div>
            <h2 class="test__nav-title">
                Что из следующего <br>
                верно для вас
            </h2>
            <div class="test__nav-help">
                ?
            </div>
        </div>
        <h2 class="test__subtitle">
            Можно выбрать несколько&nbsp;вариантов:
        </h2>
        <div class="test__content test__content--title">
            <div class="test__content-item">
                <p class="test__content-name">Я часто не высыпаюсь</p>
                <span class="test__content-el"></span>
            </div>
            <div class="test__content-item">
                <p class="test__content-name">Я ем поздно ночью</p>
                <span class="test__content-el"></span>
            </div>
            <div class="test__content-item">
                <p class="test__content-name">Я употребляю много соли</p>
                <span class="test__content-el"></span>
            </div>
            <div class="test__content-item">
                <p class="test__content-name">Я немогу не есть сладкое</p>
                <span class="test__content-el"></span>
            </div>
            <div class="test__content-item">
                <p class="test__content-name">Я люблю газировки</p>
                <span class="test__content-el"></span>
            </div>
            <div class="test__content-item">
                <p class="test__content-name">Ничто из перечисленного</p>
                <span class="test__content-el"></span>
            </div>
        </div>
        <div class="test__next main-button">Продолжить</div>
    </div>
</div>