.test {
  padding-top: 116px;
  padding-bottom: 130px;
  &__wrapper {
    max-width: 1030px;
    margin-right: auto;
    margin-left: auto;
  }
  &__main-title {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 70px;
    font-weight: 500;
    line-height: 70px;
    text-align: center;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 51px;
  }
  &__container {
    background-color: transparentize(#2e3844, .4);
    border-radius: 5px 5px 0 0;
    padding-left: 49px;
    padding-right: 51px;
    padding-bottom: 63px;
    &--1 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 50px 150px;
    }
  }
  &__item {
    width: 266px;
    height: 266px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    &-des {
      margin-top: -4px;
    }
    &--second {
      width: 148px;
      height: 50px;
      border-radius: 5px;
      border: 1px solid #39424d;
      padding: 0;
      color: #ffffff;
      font-size: 25px;
      font-weight: 300;
      line-height: 18px;
      position: relative;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 11px;
        border: 12px solid transparent
      }
      &::after {
        left: -23px;
        border-right: 18px solid $grad-end;
      }
      &::before {
        right: -23px;
        border-left: 18px solid #f54d64;
      }
    }
    &-text {
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
      margin-top: 16px;
    }
    &-circle {
      border-radius: 50%;
      cursor: pointer;
      &--1, &--2 {
        position: absolute;
      }
      &--1 {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to left, $grad-start 0%, $grad-end 100%);
        opacity: 0.15;
        animation: ooze 2s linear infinite;
      }
      &--2 {
        left: 22px;
        top: 22px;
        width: 222px;
        height: 222px;
        background-image: linear-gradient(to left, $grad-start 0%, $grad-end 100%);
        opacity: 0.15;
        animation: ooze 2s linear infinite;
        animation-delay: .35s;
      }
      &--3 {
        width: 186px;
        height: 186px;
        background-image: linear-gradient(to left, $grad-start 0%, $grad-end 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    &-man, &-girl {
      position: relative;
      text-align: center;
      border-radius: 50%;
      &:hover {
        .test__item-circle--1 {
          animation: ooze-to .5s linear;
        }
        .test__item-circle--2 {
          animation: ooze-to .5s linear;
        }
      }
    }

    &-girl {
      .test__item-circle {
        &--1 {
          background-image: linear-gradient(to left, #fb8768 0%, #f54d64 100%);
        }
        &--2 {
          background-image: linear-gradient(to left, #fb8768 0%, #f54d64 100%);
        }
        &--3 {
          background-image: linear-gradient(to left, #fb8768 0%, #f54d64 100%);
        }
      }
    }

  }



  //2 screen
  &__percent {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 18px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: -60px;
    margin-bottom: -43px;
    &-circle {
      border-radius: 50%;

      &--1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to left,$grad-start 0%,$grad-end 100%);
        opacity: 0.15;
      }
      &--2 {
        position: absolute;
        left: 10px;
        top: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        background-image: linear-gradient(to left,$grad-start 0%,$grad-end 100%);
        opacity: 0.15;
      }
      &--3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 84px;
        height: 84px;
        background-image: linear-gradient(to left,$grad-start 0%,$grad-end 100%);
      }
    }
    &-text {
      color: #ffffff;
      font-size: 30px;
      font-weight: 500;
    }
  }

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &-back {
      flex-shrink: 0;
      cursor: pointer;
      width: 54px;
      height: 54px;
      background-color: #545e6a;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: .3s;
      & img {
        transition: .3s;

        opacity: 0.4;
      }
      &:hover {
        background-color: #6e7a88;
        & img {
          opacity: 1;
        }
      }
    }
    &-title {
      color: #ffffff;
      font-family: Montserrat;
      font-size: 40px;
      font-weight: 500;
      text-align: center;
      margin-top: 5px;
    }
    &-help {
      flex-shrink: 0;
      cursor: pointer;
      border-radius: 50%;

      width: 50px;
      height: 50px;
      background-color: #545e6a;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      font-size: 25px;
      font-weight: 300;
      line-height: 85px;
      transition: .3s;
      &:hover {
        background-color: #6e7a88;

      }
    }
  }
  &__subtitle {
    opacity: 0.5;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 7px;
  }
  &__content {
    margin-top: 35px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &--title {
      margin-top: 45px;
    }
    &--checkbox {
      justify-content: space-around;
    }
    &--veg {
      max-width: 556px;
      margin-right: auto;
      margin-left: auto;
      justify-content: space-between;
      & .test__checkbox {
        margin-bottom: 31px;
      }
      & .test__checkbox-text {
        margin-bottom: 20px;
        margin-top: 13px;
      }
    }
    &-item {
      cursor: pointer;
      position: relative;
      width: 450px;
      height: 60px;
      border-radius: 5px;
      background-color: #545e6a;
      margin-bottom: 30px;
      font-size: 18px;
      font-weight: 300;
      padding: 0 2px;
      &--inner {
        padding-left: 31px;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;

      }

      &.active {
        background-image: linear-gradient(to left,$grad-start,$grad-end);

        & .test__content-el--img {
          opacity: 1;
          stroke: #fff;
        }
      }
    }
    &-el {
      width: 65px;
      height: 100%;
      border-left: 1px solid transparentize(#fff, 0.9);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      //&::before, &::after {
      //  content: '';
      //  position: absolute;
      //  top: 50%;
      //  left: 50%;
      //  transform: translate(-50%, -50%);
      //  background-color: #ffffff;
      //}
      //&::before {
      //  width: 24px;
      //  height: 2px;
      //}
      //&::after {
      //  display: none;
      //  height: 24px;
      //  width: 2px;
      //}
      &--img {
        opacity: 0.4;
        stroke: #fff;
        width: 30px;
        height: 29px;
      }
    }
  }

  &__next {
    min-height: 60px;
    line-height: 60px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    max-width: 250px;
    padding-left: 53px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    &::after {
      width: 23px;
      right: 42px;
      background-position: center right;
    }
  }
  &__checkbox {
    padding: 2px;
    margin-bottom: 31px;
    width: 144px;
    height: 144px;
    background-color: #545e6a;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    &-inner {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      border-radius: 50%;

      background-color: #262e39;
    }
    &.active {
      background-color: $grad-end;

      .test__checkbox-img {
        fill: $grad-end;
        opacity: 1;

      }
      .test__checkbox-text {
        opacity: 1;
      }
      .test__checkbox-el {
        background-image: linear-gradient(to left,$grad-start,$grad-end);

        &--inner {
          background-image: linear-gradient(to left,$grad-start,$grad-end);
        }
        &--img {
          opacity: 1;
          stroke: #fff;
        }
      }
    }
    &-img {
      opacity: 0.5;
      fill: #fff;
    }
    &-text {
      position: relative;
      cursor: pointer;
      opacity: 0.7;
      color: #ffffff;
      font-size: 17px;
      font-weight: 300;
      margin-top: 17px;
      margin-bottom: 23px;
      text-align: center;
      &.test__checkbox-text--mt {
        margin-top: 9px;
      }
    }
    &-el {
      position: absolute;
      top: 2px;
      right: 12px;
      width: 28px;
      height: 28px;
      padding: 2px;
      background-color: #545e6a;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      //&::before, &::after {
      //  content: '';
      //  position: absolute;
      //  top: 50%;
      //  left: 50%;
      //  transform: translate(-50%, -50%);
      //  background-color: #ffffff;
      //}
      //&::before {
      //  width: 14px;
      //  height: 2px;
      //}
      //&::after {
      //  display: none;
      //  height: 14px;
      //  width: 2px;
      //}

      &--inner {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #242e38;
      }
      &--img {
        opacity: 0.4;
        stroke: #fff;
        width: 13px;
        height: 20px;
      }
    }

  }
  &--content {
    display: none;
    &.active {
      display: block;
    }
  }

  &__content {
    &--tabs {
      flex-direction: column;
      align-items: center;
      max-width: 630px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__tabs {
    width: 100%;
    border-radius: 30px;
    background-image: linear-gradient(to left,$grad-start,$grad-end);
    padding: 2px;
    margin-bottom: 30px;
    &-inner {
      background-color: #2e3844;
      display: flex;
      width: 100%;
      border-radius: 35px;
    }
    &-item {
      border-radius: 25px;
      text-align: center;
      padding-top: 18px;
      padding-bottom: 19px;
      color: transparentize(#fff, 0.5);
      font-size: 18px;
      font-weight: 300;
      width: 50%;
      cursor: pointer;
      &.active {
        color: #fff;
        font-weight: 500;
        background-image: linear-gradient(to left,$grad-start,$grad-end);
      }
    }
    &-met, &-imp {
      width: 100%;
      display: none;
      flex-wrap: wrap;
      justify-content: space-between;
      &.active {
        display: flex;
      }
    }
    &-field {
      position: relative;
      width: 100%;
      height: 60px;
      margin-bottom: 20px;

      &--13, &--14, &--22, &--23, &--24, &--25 {
        max-width: calc(50% - 10px);
      }

      &.active {
        & svg {
          fill: url(#man);
        }
      }
      &.error {
        & input {
          border-color: red;
        }
      }
    }
    &-svg {
      position: absolute;
      left: 30px;
      top: 50%;
      transform: translateY(-50%);
      fill: transparentize(#fff, .5);
    }
    &-next {
      cursor: pointer;
      width: 250px;
      min-height: 60px;
      margin-right: auto;
      margin-left: auto;
      line-height: 60px;
      font-size: 20px;
      font-weight: 400;
      margin-top: 30px;
      &::after {
        width: 23px;
        right: 42px;
        background-position: center right;
      }
    }
    &-input {
      width: 100%;
      padding-left: 79px;
      padding-right: 10px;
      font-size: 18px;
      line-height: 18px;
      color: #fff;
      height: 100%;
      border-radius: 5px;
      border: 2px solid #545e6a;
      background-color: #222c38;
      font-weight: 300;

      &::-webkit-input-placeholder {
        color: transparentize(#fff, 0.5);
        font-weight: 300;
        font-size: inherit;
        font-family: Roboto;

      }
      &::-moz-placeholder {
        color: transparentize(#fff, 0.5);
        font-weight: 300;
        font-size: inherit;
        font-family: Roboto;

      }
      &:-ms-input-placeholder {
        color: transparentize(#fff, 0.5);
        font-weight: 300;
        font-size: inherit;
        font-family: Roboto;

      }
      &:-moz-placeholder {
        color: transparentize(#fff, 0.5);
        font-weight: 300;
        font-size: inherit;
        font-family: Roboto;
      }
    }
  }
}

@keyframes ooze {
  50% {
    transform: scale(.95);
    opacity: .05;
  }
}
@keyframes ooze-to {
  from {
    transform: scale(.95);
    opacity: .05;
  }
}

//hover

.test__checkbox:hover:not(.active) {
  background-image: linear-gradient(to left,$grad-start 0%, $grad-end 100%);
  & .test__checkbox-el {
    background-image: linear-gradient(to left,$grad-start 0%, $grad-end 100%);
  }
  & .test__checkbox-inner, & .test__checkbox-el--inner {
    background-image: linear-gradient(to left,transparentize($grad-start, .95) 0%,transparentize($grad-end, .95) 100%);
  }
  & .test__checkbox-el--img {
    opacity: 1;
    stroke: $grad-start;
  }
}
.test__content-item:hover:not(.active) {
  padding: 2px;
  background-image: linear-gradient(to left,$grad-start 0%, $grad-end 100%);
  .test__content-item--inner {
    background-color: #545e6a;
    background-image: linear-gradient(to left,transparentize($grad-start, .95) 0%,transparentize($grad-end, .95) 100%);
  }
  .test__content-el--img {
    opacity: 1;
    stroke: $grad-start;
  }
}

.female {
  & .test__checkbox:hover:not(.active) {
    background-image: linear-gradient(to left, #fb8768 0%, #f54d64 100%);
    & .test__checkbox-el {
      background-image: linear-gradient(to left, #fb8768 0%, #f54d64 100%);
    }
    & .test__checkbox-inner, & .test__checkbox-el--inner {
      background-image: linear-gradient(to left, transparentize(#fb8768, .95) 0%, transparentize(#f54d64, .95) 100%);
    }
    & .test__checkbox-el--img {
      opacity: 1;
      stroke:#fb8768;
    }

  }

  .test__content-item:hover:not(.active) {
    padding: 2px;
    background-image: linear-gradient(to left, #fb8768 0%, #f54d64 100%);
    .test__content-item--inner {
      background-color: #545e6a;
      background-image: linear-gradient(to left, transparentize(#fb8768, .95) 0%, transparentize(#f54d64, .95) 100%);
    }
    .test__content-el--img {
      opacity: 1;
      stroke: #fb8768;
    }
  }

  .test__checkbox.active .test__checkbox-el, .test__checkbox.active .test__checkbox-el--inner {
    background-image: linear-gradient(to left, #fb8768 0%, #f54d64 100%);

  }
}








@include r(1070) {
  .test {
    padding-top: 70px;
    padding-bottom: 70px;
    &__container {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px;
      &--1 {
        padding: 30px 40px;
      }
    }

    &__item {
      &--second {
        width: 90px;
      }
    }
    &__nav {
      align-items: center;
      &-title {
        margin-top: 0;
        font-size: 36px;
      }
    }
    &__content {
      &-el {
        width: 50px;
        flex-shrink: 0;


      }
      &-item {

        width: calc(50% - 10px);
        &--inner {
          padding-left: 20px;
        }
      }
      &--checkbox {
        margin-top: 30px;
      }
      &--veg {
        justify-content: center;
      }
      &--meet {
        justify-content: center;
        max-width: 570px;
        margin-right: auto;
        margin-left: auto;
        & .test__checkbox {

        }
      }
    }
    &__next {
      margin-top: 0;
      margin-bottom: 30px;
    }

    &__main {
      &-title {
        font-size: 65px;
        line-height: 1;
        margin-bottom: 40px;
      }
    }
    &__checkbox {
      margin-right: 15px;
      margin-left: 15px;
    }
    &__tabs {
      &-next {
        margin-bottom: 30px;
      }
      &-svg {
        left: 20px;
      }
      &-input {
        padding-left: 60px;
      }
    }
  }
}

@include r(767) {
  .test {
    padding-top: 50px;
    padding-bottom: 50px;
    &__next {
      margin-bottom: 20px;
    }
    &__container {
      margin-top: 20px;
      &--1 {
        margin-top: 0;
        padding: 25px;
      }
    }

    &__subtitle {
      font-size: 18px;
      line-height: 22px;
    }
    &__item {
      width: 220px;
      height: 220px;
      padding: 20px;
      &-text {
        margin-top: 10px;
      }

      &--second {
        width: 80px;
        height: 50px;
        padding: 0;
      }

      &-circle {
        &--2 {
          width: calc(100% - 30px);
          height: calc(100% - 30px);
          left: 15px;
          top: 15px;
        }
        &--3 {
          width: 160px;
          height: 160px;
        }

      }
    }
    &__main {
      &-title {
        font-size: 55px;
        margin-bottom: 30px;
      }
    }
    &__percent {
      width: 100px;
      height: 100px;
      top: -50px;
      &-text {
        font-size: 24px;
      }
      &-circle {
        &--2 {
          left: 8px;
          top: 8px;
          width: calc(100% - 16px);
          height: calc(100% - 16px);
        }
        &--3 {
          width: 64px;
          height: 64px;
        }
      }
    }
    &__nav {
      &-title {
        font-size: 30px;
      }
    }

    &__content {
      margin-top: 25px;
      &-el {
        width: 40px;
        flex-shrink: 0;
        &--img {
          width: 22px;
        }
      }
      &-item {
        font-size: 16px;
        width: calc(50% - 10px);
      }
    }

    &__tabs {
      &-next {
        margin-bottom: 20px;
        margin-top: 0;
      }
      &-field {
        max-width: 100%;
      }
    }

  }
}

@include r(639) {
  .test {
    padding-top: 35px;
    padding-bottom: 35px;
    &__container {
      &--1 {
        padding: 0;
        background-color: transparent;
        flex-direction: column;
        align-items: center;
      }
    }
    &__item {
      width: 220px;
      height: 220px;
      &--second {
        height: auto;
        border: none;
        &::before,
        &::after {
          display: none;
        }
      }
      &-des {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
    &__main {
      &-title {
        font-size: 40px;
        margin-bottom: 30px;
      }
    }
    &__nav {
      &-title {
        font-size: 24px;
      }
    }
    &__content {
      &-name {
        padding-top: 17px;
        padding-bottom: 17px;
      }
      &-item {
        height: auto;
        width: 100%;
        margin-bottom: 20px;
      }
    }

    &__percent {
      width: 72px;
      height: 72px;
      top: -35px;
      margin-bottom: -20px;
      padding: 11px;
      &-text {
        font-size: 18px;
      }
      &-circle {
        &--2 {
          left: 6px;
          top: 6px;
          width: calc(100% - 12px);
          height: calc(100% - 12px);
        }
        &--3 {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

@include r(479) {
  .test {
    padding-top: 30px;
    padding-bottom: 30px;

    &__item {
      width: 170px;
      height: 170px;
      padding: 26px;
      &-text {
        font-size: 16px;
      }
      &--img {
        &-man {
          width: 37px;
        }
        &-girl {
          width: 34px;
        }
      }
      &--second {
        width: auto;
        height: auto;
        padding: 0;
      }

      &-circle {
        &--2 {
          width: calc(100% - 28px);
          height: calc(100% - 28px);
          left: 14px;
          top: 14px;
        }
        &--3 {
          width: 118px;
          height: 118px;
        }

      }
    }

    &__main {
      &-title {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 30px;
      }
    }

    &__container {
      padding-right: 15px;
      padding-left: 15px;
      margin-top: 30px;
      &--1 {
        margin-top: 0;
      }
    }

    &__nav {
      position: relative;
      justify-content: center;

      &-back,
      &-help {
        position: absolute;
        width: 32px;
        height: 32px;
        top: -68px;
      }
      &-back {
        left: 0;
        & img {
          width: 16px;
        }
      }
      &-help {
        font-size: 25px;
        font-weight: 300;
        right: 0;
      }
    }

    &__content {
      margin-top: 15px;
      &-name {
        padding-top:0;
        padding-bottom: 0;
      }
      &-el {
        width: 35px;
        &--img {
          width: 18px;
        }
      }
      &-item {
        margin-bottom: 15px;
        height: 50px;
        font-size: 15px;
        &--inner {
          padding-left: 15px;
        }
      }
    }
    &__content {
      &--veg {
        justify-content: space-between;
        & .test__checkbox-text {
          margin-bottom: 14px;
          margin-top: 5px;
        }
      }
      &--meet {
        justify-content: space-between;
      }
    }

    &__checkbox {
      width: 115px;
      height: 115px;
      margin-right: 0;
      margin-left: 0;
      &-text {
        font-size: 15px;
        margin-bottom: 16px;
        margin-top: 8px;
      }
      &-el {
        width: 22px;
        height: 22px;
        &--img {
          width: 11px;
        }
      }
      &-img {
        &--31 {
          width: 62px;
          height: 43px;
        }
        &--32 {
          width: 47px;
          height: 48px;
        }
        &--33 {
          width: 51px;
          height: 40px;
        }
        &--34 {
          width: 51px;
          height: 39px;

        }
        &--35 {
          width: 53px;
          height: 51px;
        }
        &--41 {
          width: 51px;
          height: 50px;
        }
        &--42 {
          width: 45px;
          height: 48px;
        }
        &--43 {
          width: 32px;
          height: 52px;
        }
        &--44 {
          width: 48px;
          height: 41px;

        }
        &--45 {
          width: 27px;
          height: 52px;
        }
        &--46 {
          width: 33px;
          height: 51px;
        }
        &--51 {
          width: 61px;
          height: 37px;
        }
        &--52 {
          width: 45px;
          height: 53px;
        }
        &--53 {
          width: 48px;
          height: 37px;
        }
        &--54 {
          width: 56px;
          height: 56px;
        }
        &--55 {
          width: 44px;
          height: 45px;
        }
        &--56 {
          width: 60px;
          height: 49px;
        }
      }
    }
    &__next {
      margin-bottom: 15px;
    }

    &__tabs {
      margin-bottom: 20px;
      &-field {
        margin-bottom: 15px;
        height: 50px;
      }
      &-input {
        padding-left: 55px;
        font-size: 16px;
      }
      &-svg {
        width: 24px;
        left: 14px;
      }
      &-item {
        font-size: 16px;
      }
      &-next {
        margin-top: 5px;
        margin-bottom: 10px;
      }
    }
  }
}