<div class="test6 test--content" id="test6">
    <div class="test__container test__container--6">
        <div class="test__percent">
            <div class="test__percent-circle test__percent-circle--1"></div>
            <div class="test__percent-circle test__percent-circle--2"></div>
            <div class="test__percent-circle test__percent-circle--3">
                <p class="test__percent-text">62%</p>
            </div>
        </div>
        <div class="test__nav">
            <div class="test__nav-back" data-prev="test5">
                <img src="img/back-arrow.svg" alt="arrow">
            </div>
            <h2 class="test__nav-title">
                Опишите свой типичный день
            </h2>
            <div class="test__nav-help">
                ?
            </div>
        </div>
        <div class="test__content">
            <div class="test__content-item">
                <div class="test__content-item--inner">
                    <p class="test__content-name">В офисе</p>
                    <span class="test__content-el">
                    <svg version="1.1" class="test__content-el--img" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
                         viewBox="0 0 25 18.4" style="enable-background:new 0 0 25 18.4;" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: none;
                            stroke-width: 2;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                        }
                    </style>
                    <path class="st0" d="M1,6.5l10.2,10.9L24,1"/>
                    </svg>
                </span>
                </div>
            </div>
            <div class="test__content-item">
                <div class="test__content-item--inner">
                    <p class="test__content-name">В офисе, но регулярно выхожу</p>
                    <span class="test__content-el">
                    <svg version="1.1" class="test__content-el--img" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
                         viewBox="0 0 25 18.4" style="enable-background:new 0 0 25 18.4;" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: none;
                            stroke-width: 2;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                        }
                    </style>
                    <path class="st0" d="M1,6.5l10.2,10.9L24,1"/>
                    </svg>
                </span>
                </div>
            </div>
            <div class="test__content-item">
                <div class="test__content-item--inner">
                    <p class="test__content-name">Большую часть дня я провожу на ногах</p>
                    <span class="test__content-el">
                    <svg version="1.1" class="test__content-el--img" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
                         viewBox="0 0 25 18.4" style="enable-background:new 0 0 25 18.4;" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: none;
                            stroke-width: 2;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                        }
                    </style>
                    <path class="st0" d="M1,6.5l10.2,10.9L24,1"/>
                    </svg>
                </span>
                </div>
            </div>
            <div class="test__content-item">
                <div class="test__content-item--inner">
                    <p class="test__content-name">Тружусь Физически</p>
                    <span class="test__content-el">
                    <svg version="1.1" class="test__content-el--img" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
                         viewBox="0 0 25 18.4" style="enable-background:new 0 0 25 18.4;" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: none;
                            stroke-width: 2;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                        }
                    </style>
                    <path class="st0" d="M1,6.5l10.2,10.9L24,1"/>
                    </svg>
                </span>
                </div>
            </div>
            <div class="test__content-item">
                <div class="test__content-item--inner">
                    <p class="test__content-name">Большую часть дня я провожу дома</p>
                    <span class="test__content-el">
                    <svg version="1.1" class="test__content-el--img" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
                         viewBox="0 0 25 18.4" style="enable-background:new 0 0 25 18.4;" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: none;
                            stroke-width: 2;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                        }
                    </style>
                    <path class="st0" d="M1,6.5l10.2,10.9L24,1"/>
                    </svg>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>