<div class="test6 test--content" id="test6">
    <div class="test__container test__container--6">
        <div class="test__percent">
            <div class="test__percent-circle test__percent-circle--1"></div>
            <div class="test__percent-circle test__percent-circle--2"></div>
            <div class="test__percent-circle test__percent-circle--3">
                <p class="test__percent-text">62%</p>
            </div>
        </div>
        <div class="test__nav">
            <div class="test__nav-back" data-prev="test5">
                <img src="img/back-arrow.svg" alt="arrow">
            </div>
            <h2 class="test__nav-title">
                Опишите свой типичный день
            </h2>
            <div class="test__nav-help">
                ?
            </div>
        </div>
        <div class="test__content">
            <div class="test__content-item">
                <p class="test__content-name">В офисе</p>
                <span class="test__content-el"></span>
            </div>
            <div class="test__content-item">
                <p class="test__content-name">В офисе, но регулярно выхожу</p>
                <span class="test__content-el"></span>
            </div>
            <div class="test__content-item">
                <p class="test__content-name">Большую часть дня я провожу на ногах</p>
                <span class="test__content-el"></span>
            </div>
            <div class="test__content-item">
                <p class="test__content-name">Тружусь Физически</p>
                <span class="test__content-el"></span>
            </div>
            <div class="test__content-item">
                <p class="test__content-name">Большую часть дня я провожу дома</p>
                <span class="test__content-el"></span>
            </div>
        </div>
    </div>
</div>