body {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	overflow-x: hidden;
	min-height: 100vh;
	color: #fff;
	background-image:  url('../img/Fish-img.png'), url('../img/paper-img.png'), url('../img/brokoli-img.png'), url('../img/circle__bg.png'), url('../img/main-bg.jpg');
	background-repeat: no-repeat;
	background-size: auto, auto, auto, auto, cover;
	background-position:left -650px top -16px, right -473px top -282px, right -120px bottom -90px, right calc(50% + 37px) top -5px, center center;
}

body.result {
	@include decorate-background();
	background-position:
		left calc(50% - 147px) top -74px, // lime #top
		left -93px top 87px, // broccoli #top
		right -562px top -281px, // corn/peper
		left -754px top calc(50% - 18px), // fish
		right -199px bottom 570px, // broccoli #bottom
		left -118px bottom 27px, // lime #bottom
		center top; // main background
}

body.get {
	background-image: url("../img/result-bg.jpg");
	background-position: center center;
	background-size: cover;
}

body.pay {
	@include decorate-background('partial');
	background-position:
		left -647px top calc(50% - 58px),
		right -474px top -281px,
		right -119px bottom 8px,center top
}

img {
	max-width: 100%;
}

svg {
	overflow: hidden;
}

.wrapper {
	width: 1220px;
	margin: 0 auto;
	padding: 0 25px;
	@include r(1219) {
		width: 1024px;
	}
	@include r(1023) {
		width: 768px;
		padding: 0 10px;
	}
	@include r(767) {
		width: 640px;
	}
	@include r(639) {
		width: 480px;
	}
	@include r(479) {
		width: 100%;
	}
}

.title {	
	font-size: 46px;
	line-height: 1.3;
	@include r(1219){
		font-size: 42px;
	}
	@include r(1023){	
		font-size: 36px;
		line-height: 1.1;
	}
	@include r(767){	
		font-size: 32px;
	}
	@include r(639){	
		font-size: 29px;
	}
	@include r(479){	
		font-size: 26px;
	}
}
br {
	font-size: 0;
	line-height: 0;
}
.text-bold {
	font-weight: 700;
}

.text-black {
	font-weight: 900;
}

.text-nowrap {
	white-space: nowrap;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}