::-ms-clear {
	display: none;
}

select:-moz-focusring, a:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}
*:focus, *:visited, *:active, *:hover  { outline:0!important;}
a, a:focus, a:visited, a:active, a:hover  { outline:0!important;}
*::-moz-focus-inner {
	border: 0;
	outline: none;
}

html,
body {
	overflow-x: hidden;
}

html.overflow {
	overflow: hidden;
}

body {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	overflow-x: hidden;
	min-height: 100vh;
	color: #fff;
	background-image: url('../img/Fish-img.png'), url('../img/paper-img.png'), url('../img/brokoli-img.png'), url('../img/circle__bg.png'), url('../img/pattern.jpg');
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat;
	background-size: auto, auto, auto, auto, auto;
	background-position: left calc(50% - 1050px) top -16px, right calc(50% - 995px) top -282px, right calc(50% - 930px) top 975px, right calc(50% + 37px) top -5px, center center;

	@include r(1920) {
		background-image:  url('../img/Fish-img.png'), url('../img/paper-img.png'), url('../img/brokoli-img.png'), url('../img/circle__bg.png'), url('../img/pattern.jpg');
		background-size: 700px auto, 500px auto,  150px auto, auto, auto;
		background-position:left -400px top 100px, right -220px top 100px, right -50px bottom 100px, right calc(50% + 37px) top -5px, center center;
	}
	@include r(1070) {
		background-image:  url('../img/Fish-img.png'), url('../img/paper-img.png'), url('../img/brokoli-img.png'), url('../img/circle__bg.png'), url('../img/pattern.jpg');
		background-size: 600px auto, 400px auto,  120px auto, auto, auto;
		background-position:left -300px top 100px, right -170px top 100px, right -50px bottom 60px, right calc(50% + 37px) top -5px, center center;
	}
	@include r(767) {
		background-image:  url('../img/Fish-img.png'), url('../img/brokoli-img.png'), url('../img/circle__bg.png'), url('../img/pattern.jpg');
		background-repeat: no-repeat, no-repeat, no-repeat, repeat;
		background-size: 500px auto, 120px auto, auto, auto;
		background-position:left -300px top 100px, right -50px bottom 80px, right calc(50% + 37px) top -5px, center center;
	}

	@include r(639) {
		background-image:  url('../img/fish__mob.png'), url('../img/brokoli-mob.png'), url('../img/pattern.jpg');
		background-size: auto, 97px auto, auto;
		background-repeat: no-repeat, no-repeat, repeat;
		background-position:left -125px top 147px, right -28px top 147px, center center;
	}
}
html {
	&.overflow {
		overflow: hidden;

	}

}

.btn {
	&:hover {
		background-image: linear-gradient(to left, #23cba0 0%, #009574 100%) !important;
	}
}

.female {
	& .btn {
		&:hover {
			background-image: linear-gradient(to left, #f57351 0%, #e42d46 100%) !important;
		}
	}
}

select:-moz-focusring, a:-moz-focusring {
	color: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

body, html {
	overflow-x: hidden;
}
img {
	max-width: 100%;
}

svg {
	overflow: hidden;
}

.wrapper {
	width: 1170px;
	margin: 0 auto;

	@include r(1230) {
		width: 1030px;
	}

	@include r(1070) {
		width: 768px;
		padding-right: 20px;
		padding-left: 20px;
	}

	@include r(767) {
		width: 640px;
	}

	@include r(639) {
		width: 480px;
	}

	@include r(479) {
		width: 320px;
	}
}

.wrapper--sm {
	width: 1030px;
	margin: 0 auto;

	@include r(1070) {
		width: 768px;
		padding-right: 20px;
		padding-left: 20px;
	}

	@include r(767) {
		width: 640px;
	}

	@include r(639) {
		width: 480px;
	}

	@include r(479) {
		width: 320px;
	}
}

br {
	font-size: 0;
	line-height: 0;
}

.text-bold {
	font-weight: 700;
}

.text-black {
	font-weight: 900;
}

.text-nowrap {
	white-space: nowrap;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	bottom: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

::-ms-clear { display: none; }

input[type=number] {
	-moz-appearance:textfield;
}