html,
body {
	overflow-x: hidden;
}

html.overflow {
	overflow: hidden;
}

body {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	overflow-x: hidden;
	min-height: 100vh;
	color: #fff;
	background-image: url('../img/Fish-img.png'), url('../img/paper-img.png'), url('../img/brokoli-img.png'), url('../img/circle__bg.png'), url('../img/main-bg.jpg');
	background-repeat: no-repeat;
	background-size: auto, auto, auto, auto, cover;
	background-position: left -650px top -16px, right -473px top -282px, right -120px top 975px, right calc(50% + 37px) top -5px, center center;
	background-attachment: scroll, scroll, scroll, scroll, fixed;

	@include r(1230) {
		background-image: url('../img/main-bg.jpg');
		background-size: cover;
		background-position: center center;
	}

	//@include r(1070) {
	//	background-image:  url('../img/Fish-img.png'), url('../img/paper-img.png'), url('../img/brokoli-img.png'), url('../img/circle__bg.png'), url('../img/main-bg.jpg');
	//	background-size: auto, auto, auto, auto, cover;
	//	background-position:left -650px top -16px, right -473px top -282px, right -120px top 975px, right calc(50% + 37px) top -5px, center center;
	//}
	//@include r(767) {
	//	background-image:  url('../img/Fish-img.png'), url('../img/paper-img.png'), url('../img/brokoli-img.png'), url('../img/circle__bg.png'), url('../img/main-bg.jpg');
	//	background-size: auto, auto, auto, auto, cover;
	//	background-position:left -650px top -16px, right -473px top -282px, right -120px top 975px, right calc(50% + 37px) top -5px, center center;
	//}
	//@include r(639) {
	//	background-image:  url('../img/Fish-img.png'), url('../img/paper-img.png'), url('../img/brokoli-img.png'), url('../img/circle__bg.png'), url('../img/main-bg.jpg');
	//	background-size: 300px auto, 300px auto, auto, auto, cover;
	//	background-position:left -125px top 447px, right -100px top 100px, right -120px top 975px, right calc(50% + 37px) top -5px, center center;
	//}
	//@include r(479) {
	//	background-image:  url('../img/fish__mob.png'), url('../img/brokoli-img.png'), url('../img/main-bg.jpg');
	//	background-size: auto, 97px auto, cover;
	//	background-position:left -125px top 147px, right -28px top 147px, center center;
	//}
}

img {
	max-width: 100%;
}

svg {
	overflow: hidden;
}

.wrapper {
	width: 1170px;
	margin: 0 auto;

	@include r(1230) {
		width: 1030px;
	}

	@include r(1070) {
		width: 768px;
		padding-right: 20px;
		padding-left: 20px;
	}

	@include r(767) {
		width: 640px;
	}

	@include r(639) {
		width: 480px;
	}

	@include r(479) {
		width: 320px;
	}
}

.wrapper--sm {
	width: 1030px;
	margin: 0 auto;

	@include r(1070) {
		width: 768px;
		padding-right: 20px;
		padding-left: 20px;
	}

	@include r(767) {
		width: 640px;
	}

	@include r(639) {
		width: 480px;
	}

	@include r(479) {
		width: 320px;
	}
}

br {
	font-size: 0;
	line-height: 0;
}

.text-bold {
	font-weight: 700;
}

.text-black {
	font-weight: 900;
}

.text-nowrap {
	white-space: nowrap;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	bottom: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}