$target-center-transparent: 0;
$target-half-transparent: 0.7;
$target-inner-transparent: 0.85;
$boy-target-start: #27cda2;
$boy-target-end: #76e5c8;
$girl-target-start: #f54d64;
$girl-target-end: #fb8768;

$transparent: rgba(255, 255, 255, 0);