<article class="resume-card">
  <button class="resume-card__about-show" type="button">?</button>
  <div class="resume-card__about">
    <p>Calories are within a recommended range of +/-100 as it is practically impossible to track them exactly. While following a calorie-restricted meal plan, the calories you consume must not fall below this value. Your daily calories are calculated based on your target weight, your current measurements, your physical activity and your lifestyle.</p>
  </div>
  <div class="resume-card__main">
    <header class="resume-card__top">
      <h3 class="resume-card__title">Калории</h3>
    </header>
    <div class="resume-card__body resume-card__body--calories">
      <img src="img/resume-card-calories-bar.svg" alt="" class="picture">
      <span class="current">
        <span class="value">3950-4050</span><br> калорий
      </span>
      <div class="min-max">
        <span class="min">0 калорий</span>
        <span class="max">5000 калорий</span>
      </div>
    </div>
    <footer class="resume-card__bottom">
      <p class="resume-card__subtitle">Рекомендуемое количество калорий:</p>
      <p class="resume-card__result resume-card__result--calories-02">3950-4050 калории</p>
    </footer>
  </div>
</article>