<article class="resume-card">
  <button class="resume-card__about-show" type="button">?</button>
  <div class="resume-card__about">
    <p>It may look excessive to you but it has been scientifically proven that water consumption should be this quantity.</p>
  </div>
  <div class="resume-card__main">
    <header class="resume-card__top">
      <h3 class="resume-card__title">Вода</h3>
    </header>
    <div class="resume-card__body resume-card__body--water">
      <div class="picture-container">
        <img src="img/resume-card-water-bar.svg" alt="" class="picture">
        <div class="scale">
          <span class="max">5 L</span>
          <span class="min">0 L</span>
        </div>
      </div>
      <span class="value">
        <span class="float">1.6</span><span class="small">L</span>
      </span>
    </div>
    <footer class="resume-card__bottom">
      <p class="resume-card__subtitle">Рекомендуемое количество воды:</p>
      <p class="resume-card__result resume-card__result--water">1.6 L</p>
    </footer>
  </div>
</article>