<article class="resume-card">
  <button class="resume-card__about-show" type="button">?</button>
  <div class="resume-card__about">
    <p>Body Mass Index (BMI) is an established measure utilized by physicians and health experts to determine weight status (i.e. underweight, overweight or within a healthy weight range).</p>
  </div>
  <div class="resume-card__main">
    <header class="resume-card__top">
      <h3 class="resume-card__title">ИМТ</h3>
    </header>
    <div class="resume-card__body resume-card__body--bmi">
      <p class="value">
        <span class="large"><span class="int">6</span><span class="comma">,</span></span><span class="small float">30</span>
      </p>
      <img src="img/resume-card-bmi-bar.svg" alt="" class="picture">
    </div>
    <footer class="resume-card__bottom">
      <p class="resume-card__subtitle">Ваш ИМТ:</p>
      <p class="resume-card__result resume-card__result--bmi-01">Черезмерно низкий вес</p>
    </footer>
  </div>
</article>