<article class="resume-card">
  <button class="resume-card__about-show" type="button">?</button>
  <div class="resume-card__about">
    <p>The weight you can achieve for the first 30 days of your 60-DAY Meal Plan without putting your health at risk. The results may vary.</p>
  </div>
  <div class="resume-card__main">
    <header class="resume-card__top">
      <h3 class="resume-card__title">Достижимый вес</h3>
    </header>
    <div class="resume-card__body resume-card__body--weight">
      <div class="target">
        <span class="value">98</span>
        <span class="unit">Фунты</span>
      </div>
    </div>
    <footer class="resume-card__bottom">
      <p class="resume-card__subtitle">Достижимий вес для первых 30 дней вашей 60-дневной кетодиеты:</p>
      <p class="resume-card__result resume-card__result--weight-01">98.1 фунты</p>
    </footer>
  </div>
</article>