<article class="resume-card">
  <button class="resume-card__about-show" type="button">?</button>
  <div class="resume-card__about">
    <p>The metabolic age is an indicator for the age of your body. If it is higher than your actual age, your metabolism is slower than it should be. In this case you need to go on a calorie-restricting meal plan and increase your level of physical activity in order to increase your physiological processes. If your metabolic age is lower or equal to your actual age, your body feels well and you should keep up the good work.</p>
  </div>
  <div class="resume-card__main">
    <header class="resume-card__top">
      <h3 class="resume-card__title">Метаболический возраст</h3>
    </header>
    <div class="resume-card__body resume-card__body--age">
      <img src="img/resume-card-metabolic-age-bar.svg" alt="" class="picture">
    </div>
    <footer class="resume-card__bottom">
      <p class="resume-card__subtitle">Ваш метаболический возраст:</p>
      <p class="resume-card__result resume-card__result--age-01">5 возраст</p>
    </footer>
  </div>
</article>