<div class="week">
  <div class="week__day">
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-01.jpg" alt="">
        </div>
        <span>Завтрак</span>
      </div>
      <p class="week__meal-item">Ванильный торт с кружкой</p>
      <p class="week__meal-weight">
        <span>312 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-02.jpg" alt="">
        </div>
        <span>Утренняя закуска</span>
      </div>
      <p class="week__meal-item">Вареное яйцо</p>
      <p class="week__meal-weight">
        <span>78 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-03.jpg" alt="">
        </div>
        <span>Обед</span>
      </div>
      <p class="week__meal-item">Кето запеченная треска с&nbsp;цуккини и зеленой фасолью</p>
      <p class="week__meal-weight">
        <span>324 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-04.jpg" alt="">
        </div>
        <span>Вечерняя закуска</span>
      </div>
      <p class="week__meal-item">Низкоуглеводный испанский рис с&nbsp;цветной капустой</p>
      <p class="week__meal-weight">
        <span>73 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-05.jpg" alt="">
        </div>
        <span>Ужин</span>
      </div>
      <p class="week__meal-item">Низкоуглеводные рыбные самородки с пармезаном и&nbsp;соусом из&nbsp;авокадо</p>
      <p class="week__meal-weight">
        <span>661 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
  </div>
  <div class="week__day">
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-05.jpg" alt="">
        </div>
        <span>Завтрак</span>
      </div>
      <p class="week__meal-item">Ванильный торт с кружкой</p>
      <p class="week__meal-weight">
        <span>312 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-04.jpg" alt="">
        </div>
        <span>Утренняя закуска</span>
      </div>
      <p class="week__meal-item">Вареное яйцо</p>
      <p class="week__meal-weight">
        <span>78 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-03.jpg" alt="">
        </div>
        <span>Обед</span>
      </div>
      <p class="week__meal-item">Кето запеченная треска с&nbsp;цуккини и зеленой фасолью</p>
      <p class="week__meal-weight">
        <span>324 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-02.jpg" alt="">
        </div>
        <span>Вечерняя закуска</span>
      </div>
      <p class="week__meal-item">Низкоуглеводный испанский рис с&nbsp;цветной капустой</p>
      <p class="week__meal-weight">
        <span>73 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-01.jpg" alt="">
        </div>
        <span>Ужин</span>
      </div>
      <p class="week__meal-item">Низкоуглеводные рыбные самородки с пармезаном и&nbsp;соусом из&nbsp;авокадо</p>
      <p class="week__meal-weight">
        <span>661 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
  </div>
  <div class="week__day">
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-01.jpg" alt="">
        </div>
        <span>Завтрак</span>
      </div>
      <p class="week__meal-item">Ванильный торт с кружкой</p>
      <p class="week__meal-weight">
        <span>312 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-02.jpg" alt="">
        </div>
        <span>Утренняя закуска</span>
      </div>
      <p class="week__meal-item">Вареное яйцо</p>
      <p class="week__meal-weight">
        <span>78 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-03.jpg" alt="">
        </div>
        <span>Обед</span>
      </div>
      <p class="week__meal-item">Кето запеченная треска с&nbsp;цуккини и зеленой фасолью</p>
      <p class="week__meal-weight">
        <span>324 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-04.jpg" alt="">
        </div>
        <span>Вечерняя закуска</span>
      </div>
      <p class="week__meal-item">Низкоуглеводный испанский рис с&nbsp;цветной капустой</p>
      <p class="week__meal-weight">
        <span>73 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-05.jpg" alt="">
        </div>
        <span>Ужин</span>
      </div>
      <p class="week__meal-item">Низкоуглеводные рыбные самородки с пармезаном и&nbsp;соусом из&nbsp;авокадо</p>
      <p class="week__meal-weight">
        <span>661 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
  </div>
  <div class="week__day">
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-05.jpg" alt="">
        </div>
        <span>Завтрак</span>
      </div>
      <p class="week__meal-item">Ванильный торт с кружкой</p>
      <p class="week__meal-weight">
        <span>312 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-04.jpg" alt="">
        </div>
        <span>Утренняя закуска</span>
      </div>
      <p class="week__meal-item">Вареное яйцо</p>
      <p class="week__meal-weight">
        <span>78 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-03.jpg" alt="">
        </div>
        <span>Обед</span>
      </div>
      <p class="week__meal-item">Кето запеченная треска с&nbsp;цуккини и зеленой фасолью</p>
      <p class="week__meal-weight">
        <span>324 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-02.jpg" alt="">
        </div>
        <span>Вечерняя закуска</span>
      </div>
      <p class="week__meal-item">Низкоуглеводный испанский рис с&nbsp;цветной капустой</p>
      <p class="week__meal-weight">
        <span>73 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-01.jpg" alt="">
        </div>
        <span>Ужин</span>
      </div>
      <p class="week__meal-item">Низкоуглеводные рыбные самородки с пармезаном и&nbsp;соусом из&nbsp;авокадо</p>
      <p class="week__meal-weight">
        <span>661 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
  </div>
  <div class="week__day">
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-01.jpg" alt="">
        </div>
        <span>Завтрак</span>
      </div>
      <p class="week__meal-item">Ванильный торт с кружкой</p>
      <p class="week__meal-weight">
        <span>312 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-02.jpg" alt="">
        </div>
        <span>Утренняя закуска</span>
      </div>
      <p class="week__meal-item">Вареное яйцо</p>
      <p class="week__meal-weight">
        <span>78 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-03.jpg" alt="">
        </div>
        <span>Обед</span>
      </div>
      <p class="week__meal-item">Кето запеченная треска с&nbsp;цуккини и зеленой фасолью</p>
      <p class="week__meal-weight">
        <span>324 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-04.jpg" alt="">
        </div>
        <span>Вечерняя закуска</span>
      </div>
      <p class="week__meal-item">Низкоуглеводный испанский рис с&nbsp;цветной капустой</p>
      <p class="week__meal-weight">
        <span>73 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-05.jpg" alt="">
        </div>
        <span>Ужин</span>
      </div>
      <p class="week__meal-item">Низкоуглеводные рыбные самородки с пармезаном и&nbsp;соусом из&nbsp;авокадо</p>
      <p class="week__meal-weight">
        <span>661 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
  </div>
  <div class="week__day">
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-05.jpg" alt="">
        </div>
        <span>Завтрак</span>
      </div>
      <p class="week__meal-item">Ванильный торт с кружкой</p>
      <p class="week__meal-weight">
        <span>312 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-04.jpg" alt="">
        </div>
        <span>Утренняя закуска</span>
      </div>
      <p class="week__meal-item">Вареное яйцо</p>
      <p class="week__meal-weight">
        <span>78 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-03.jpg" alt="">
        </div>
        <span>Обед</span>
      </div>
      <p class="week__meal-item">Кето запеченная треска с&nbsp;цуккини и зеленой фасолью</p>
      <p class="week__meal-weight">
        <span>324 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-02.jpg" alt="">
        </div>
        <span>Вечерняя закуска</span>
      </div>
      <p class="week__meal-item">Низкоуглеводный испанский рис с&nbsp;цветной капустой</p>
      <p class="week__meal-weight">
        <span>73 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-01.jpg" alt="">
        </div>
        <span>Ужин</span>
      </div>
      <p class="week__meal-item">Низкоуглеводные рыбные самородки с пармезаном и&nbsp;соусом из&nbsp;авокадо</p>
      <p class="week__meal-weight">
        <span>661 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
  </div>
  <div class="week__day">
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-01.jpg" alt="">
        </div>
        <span>Завтрак</span>
      </div>
      <p class="week__meal-item">Ванильный торт с кружкой</p>
      <p class="week__meal-weight">
        <span>312 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-02.jpg" alt="">
        </div>
        <span>Утренняя закуска</span>
      </div>
      <p class="week__meal-item">Вареное яйцо</p>
      <p class="week__meal-weight">
        <span>78 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-03.jpg" alt="">
        </div>
        <span>Обед</span>
      </div>
      <p class="week__meal-item">Кето запеченная треска с&nbsp;цуккини и зеленой фасолью</p>
      <p class="week__meal-weight">
        <span>324 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-04.jpg" alt="">
        </div>
        <span>Вечерняя закуска</span>
      </div>
      <p class="week__meal-item">Низкоуглеводный испанский рис с&nbsp;цветной капустой</p>
      <p class="week__meal-weight">
        <span>73 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-05.jpg" alt="">
        </div>
        <span>Ужин</span>
      </div>
      <p class="week__meal-item">Низкоуглеводные рыбные самородки с пармезаном и&nbsp;соусом из&nbsp;авокадо</p>
      <p class="week__meal-weight">
        <span>661 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
  </div>
</div>
<div class="week">
  <div class="week__day">
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-05.jpg" alt="">
        </div>
        <span>Завтрак</span>
      </div>
      <p class="week__meal-item">Ванильный торт с кружкой</p>
      <p class="week__meal-weight">
        <span>312 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-04.jpg" alt="">
        </div>
        <span>Утренняя закуска</span>
      </div>
      <p class="week__meal-item">Вареное яйцо</p>
      <p class="week__meal-weight">
        <span>78 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-03.jpg" alt="">
        </div>
        <span>Обед</span>
      </div>
      <p class="week__meal-item">Кето запеченная треска с&nbsp;цуккини и зеленой фасолью</p>
      <p class="week__meal-weight">
        <span>324 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-02.jpg" alt="">
        </div>
        <span>Вечерняя закуска</span>
      </div>
      <p class="week__meal-item">Низкоуглеводный испанский рис с&nbsp;цветной капустой</p>
      <p class="week__meal-weight">
        <span>73 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-01.jpg" alt="">
        </div>
        <span>Ужин</span>
      </div>
      <p class="week__meal-item">Низкоуглеводные рыбные самородки с пармезаном и&nbsp;соусом из&nbsp;авокадо</p>
      <p class="week__meal-weight">
        <span>661 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
  </div>
  <div class="week__day">
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-01.jpg" alt="">
        </div>
        <span>Завтрак</span>
      </div>
      <p class="week__meal-item">Ванильный торт с кружкой</p>
      <p class="week__meal-weight">
        <span>312 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-02.jpg" alt="">
        </div>
        <span>Утренняя закуска</span>
      </div>
      <p class="week__meal-item">Вареное яйцо</p>
      <p class="week__meal-weight">
        <span>78 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-03.jpg" alt="">
        </div>
        <span>Обед</span>
      </div>
      <p class="week__meal-item">Кето запеченная треска с&nbsp;цуккини и зеленой фасолью</p>
      <p class="week__meal-weight">
        <span>324 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-04.jpg" alt="">
        </div>
        <span>Вечерняя закуска</span>
      </div>
      <p class="week__meal-item">Низкоуглеводный испанский рис с&nbsp;цветной капустой</p>
      <p class="week__meal-weight">
        <span>73 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-05.jpg" alt="">
        </div>
        <span>Ужин</span>
      </div>
      <p class="week__meal-item">Низкоуглеводные рыбные самородки с пармезаном и&nbsp;соусом из&nbsp;авокадо</p>
      <p class="week__meal-weight">
        <span>661 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
  </div>
  <div class="week__day">
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-05.jpg" alt="">
        </div>
        <span>Завтрак</span>
      </div>
      <p class="week__meal-item">Ванильный торт с кружкой</p>
      <p class="week__meal-weight">
        <span>312 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-04.jpg" alt="">
        </div>
        <span>Утренняя закуска</span>
      </div>
      <p class="week__meal-item">Вареное яйцо</p>
      <p class="week__meal-weight">
        <span>78 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-03.jpg" alt="">
        </div>
        <span>Обед</span>
      </div>
      <p class="week__meal-item">Кето запеченная треска с&nbsp;цуккини и зеленой фасолью</p>
      <p class="week__meal-weight">
        <span>324 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-02.jpg" alt="">
        </div>
        <span>Вечерняя закуска</span>
      </div>
      <p class="week__meal-item">Низкоуглеводный испанский рис с&nbsp;цветной капустой</p>
      <p class="week__meal-weight">
        <span>73 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-01.jpg" alt="">
        </div>
        <span>Ужин</span>
      </div>
      <p class="week__meal-item">Низкоуглеводные рыбные самородки с пармезаном и&nbsp;соусом из&nbsp;авокадо</p>
      <p class="week__meal-weight">
        <span>661 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
  </div>
  <div class="week__day">
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-01.jpg" alt="">
        </div>
        <span>Завтрак</span>
      </div>
      <p class="week__meal-item">Ванильный торт с кружкой</p>
      <p class="week__meal-weight">
        <span>312 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-02.jpg" alt="">
        </div>
        <span>Утренняя закуска</span>
      </div>
      <p class="week__meal-item">Вареное яйцо</p>
      <p class="week__meal-weight">
        <span>78 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-03.jpg" alt="">
        </div>
        <span>Обед</span>
      </div>
      <p class="week__meal-item">Кето запеченная треска с&nbsp;цуккини и зеленой фасолью</p>
      <p class="week__meal-weight">
        <span>324 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-04.jpg" alt="">
        </div>
        <span>Вечерняя закуска</span>
      </div>
      <p class="week__meal-item">Низкоуглеводный испанский рис с&nbsp;цветной капустой</p>
      <p class="week__meal-weight">
        <span>73 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-05.jpg" alt="">
        </div>
        <span>Ужин</span>
      </div>
      <p class="week__meal-item">Низкоуглеводные рыбные самородки с пармезаном и&nbsp;соусом из&nbsp;авокадо</p>
      <p class="week__meal-weight">
        <span>661 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
  </div>
  <div class="week__day">
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-05.jpg" alt="">
        </div>
        <span>Завтрак</span>
      </div>
      <p class="week__meal-item">Ванильный торт с кружкой</p>
      <p class="week__meal-weight">
        <span>312 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-04.jpg" alt="">
        </div>
        <span>Утренняя закуска</span>
      </div>
      <p class="week__meal-item">Вареное яйцо</p>
      <p class="week__meal-weight">
        <span>78 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-03.jpg" alt="">
        </div>
        <span>Обед</span>
      </div>
      <p class="week__meal-item">Кето запеченная треска с&nbsp;цуккини и зеленой фасолью</p>
      <p class="week__meal-weight">
        <span>324 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-02.jpg" alt="">
        </div>
        <span>Вечерняя закуска</span>
      </div>
      <p class="week__meal-item">Низкоуглеводный испанский рис с&nbsp;цветной капустой</p>
      <p class="week__meal-weight">
        <span>73 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-01.jpg" alt="">
        </div>
        <span>Ужин</span>
      </div>
      <p class="week__meal-item">Низкоуглеводные рыбные самородки с пармезаном и&nbsp;соусом из&nbsp;авокадо</p>
      <p class="week__meal-weight">
        <span>661 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
  </div>
  <div class="week__day">
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-01.jpg" alt="">
        </div>
        <span>Завтрак</span>
      </div>
      <p class="week__meal-item">Ванильный торт с кружкой</p>
      <p class="week__meal-weight">
        <span>312 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-02.jpg" alt="">
        </div>
        <span>Утренняя закуска</span>
      </div>
      <p class="week__meal-item">Вареное яйцо</p>
      <p class="week__meal-weight">
        <span>78 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-03.jpg" alt="">
        </div>
        <span>Обед</span>
      </div>
      <p class="week__meal-item">Кето запеченная треска с&nbsp;цуккини и зеленой фасолью</p>
      <p class="week__meal-weight">
        <span>324 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-04.jpg" alt="">
        </div>
        <span>Вечерняя закуска</span>
      </div>
      <p class="week__meal-item">Низкоуглеводный испанский рис с&nbsp;цветной капустой</p>
      <p class="week__meal-weight">
        <span>73 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-05.jpg" alt="">
        </div>
        <span>Ужин</span>
      </div>
      <p class="week__meal-item">Низкоуглеводные рыбные самородки с пармезаном и&nbsp;соусом из&nbsp;авокадо</p>
      <p class="week__meal-weight">
        <span>661 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
  </div>
  <div class="week__day">
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-05.jpg" alt="">
        </div>
        <span>Завтрак</span>
      </div>
      <p class="week__meal-item">Ванильный торт с кружкой</p>
      <p class="week__meal-weight">
        <span>312 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-04.jpg" alt="">
        </div>
        <span>Утренняя закуска</span>
      </div>
      <p class="week__meal-item">Вареное яйцо</p>
      <p class="week__meal-weight">
        <span>78 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-03.jpg" alt="">
        </div>
        <span>Обед</span>
      </div>
      <p class="week__meal-item">Кето запеченная треска с&nbsp;цуккини и зеленой фасолью</p>
      <p class="week__meal-weight">
        <span>324 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-02.jpg" alt="">
        </div>
        <span>Вечерняя закуска</span>
      </div>
      <p class="week__meal-item">Низкоуглеводный испанский рис с&nbsp;цветной капустой</p>
      <p class="week__meal-weight">
        <span>73 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
    <a href="recept.html" class="week__row">
      <div class="week__meal-time">
        <div class="week__thumb">
          <img src="img/meal-thumb-01.jpg" alt="">
        </div>
        <span>Ужин</span>
      </div>
      <p class="week__meal-item">Низкоуглеводные рыбные самородки с пармезаном и&nbsp;соусом из&nbsp;авокадо</p>
      <p class="week__meal-weight">
        <span>661 kcal.</span>
        <span class="arrow"></span>
      </p>
    </a>
  </div>
</div>