<svg class="svg-gradients-example visually-hidden">
  <linearGradient id="man" x1="0" y1="0">
    <stop offset="0%" stop-color="#27cda2"></stop>
    <stop offset="100%" stop-color="#76e5c8"></stop>
    </linearGradient>
  <linearGradient id="man-half" x1="0" y1="0">
    <stop offset="0%" stop-color="#27cda2"></stop>
    <stop offset="50%" stop-color="#76e5c8"></stop>
    <stop offset="51%" stop-color="#2e3844"></stop>
    <stop offset="100%" stop-color="#2e3844"></stop>
    </linearGradient>
  <linearGradient id="woman" x1="0" y1="0">
    <stop offset="0%" stop-color="#f54d64"></stop>
    <stop offset="100%" stop-color="#fb8768"></stop>
  </linearGradient>
  <linearGradient id="woman-half" x1="0" y1="0">
    <stop offset="0%" stop-color="#f54d64"></stop>
    <stop offset="50%" stop-color="#fb8768"></stop>
    <stop offset="51%" stop-color="#2e3844"></stop>
    <stop offset="100%" stop-color="#2e3844"></stop>
  </linearGradient>
</svg>