<article class="calendar popup">
  <div class="calendar__top">
    <div class="calendar__secondary-controls">
      <button type="button" class="calendar__button calendar__button--alert show-guide">!</button>
      <button type="button" class="calendar__button calendar__button--info show-shopping"></button>
    </div>
    <div class="calendar__weeks-controls">
      <p class="calendar__weeks-counter">Неделя <span class="value">1</span></p>
      <button type="button" class="calendar__weeks-control prev"></button>
      <button type="button" class="calendar__weeks-control next"></button>
    </div>
    <div class="calendar__days-controls">
      <button type="button" class="calendar__day-button active" data-day="monday">Пн</button>
      <button type="button" class="calendar__day-button">Вт</button>
      <button type="button" class="calendar__day-button">Ср</button>
      <button type="button" class="calendar__day-button">Чт</button>
      <button type="button" class="calendar__day-button">Пт</button>
      <button type="button" class="calendar__day-button">Сб</button>
      <button type="button" class="calendar__day-button">Вс</button>
    </div>
  </div>
  <div class="calendar__body">
    <!--=include ../week/week.html -->
  </div>
  <div class="calendar__bottom">
    <p class="calendar__print-title">Print recipes:</p>
    <button type="button" class="calendar__print-button common-button">за день 1</button>
    <p class="calendar__note">This plan was prepared for <span class="current-email">mult.tiutyk@gmail.com</span></p>
  </div>
</article>